.news {
    position: relative;

    #contact-us {
        position: absolute;
        top: 80px;
        right: 0px;
        z-index: 998;

        .phone {
            display: flex;

            .phone-left-num {
                margin-right: 18px;
                padding-left: 23px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 217px;
                height: 134px;
                color: #fff !important;
                font-size: 20px;
                line-height: 28px;
                background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
                border-radius: 8px;
            }

            #right-icon {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                overflow: hidden;

                .phone-block {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 90px;
                    height: 135px;
                    color: #fff;
                    background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);

                    &:hover {
                        cursor: pointer;
                    }
                }


                .icon-img {
                    margin-bottom: 10px;
                    width: 24px;
                    height: 24px;
                }

                .icon-text {
                    color: #FFFFFF;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                }

                .serveies {
                    .server-block {
                        margin-top: 30px;
                        margin-bottom: 10px;
                        width: 26px;
                        height: 24px;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                    }

                    .text {
                        text-align: center;
                        margin-bottom: 20px;
                        padding-bottom: 30px;
                        font-size: 14px;
                        font-weight: 500;
                        color: #666666;
                        line-height: 20px;
                        border-bottom: 2px solid #9797;
                    }
                }

                #back-top {
                    &:hover {
                        cursor: pointer;
                    }

                    .back-icon {
                        width: 28px;
                        height: 20px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .text {
                        margin-top: 5px;
                        margin-bottom: 20px;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 500;
                        color: #666666;
                        line-height: 20px;
                    }
                }
            }
        }


    }
}