#contact-us {
  position: fixed;
  bottom: 3.2rem;
  right: 0rem;
  z-index: 1003;
  cursor: pointer;
  border-radius: 0.08rem;
  display: none;
}
#contact-us .phone {
  display: flex;
  border-radius: 0.1rem;
  
}
#contact-us .phone .phone-left-num {
  margin-right: 0.18rem;
  padding-left: 0.23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2.17rem;
  height: 1.16rem;
  color: #fff !important;
  font-size: 0.2rem;
  /* line-height: 0.28rem; */
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
  border-radius: 0.08rem;
}
#contact-us .phone #right-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.08rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 0.1rem 0.02rem rgb(207,235,255);
}
#contact-us .phone #right-icon .phone-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0.9rem;
  /* height: 1.35rem; */
  color: #fff;
  padding-top: 0.2rem;
  /* background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%); */
}
#contact-us .phone #right-icon .phone-block:hover {
  cursor: pointer;
}
#contact-us .phone #right-icon .icon-img {
  margin-bottom: 0.1rem;
  width: 0.24rem;
  height: 0.24rem;
}
#contact-us .phone #right-icon .icon-text {
  color: #666666;
  font-size: 0.14rem;
  font-weight: 500;
  line-height: 0.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 0.02rem solid #9797;
}
.serveies{
  width: 100%;
  text-align: center;
  margin-top: 0.01rem;
  /* padding-bottom: 0.3rem; */
}
#contact-us .phone #right-icon .serveies .server-block {
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
  width: 100%
  /* height: 0.24rem; */
  
}
#contact-us .phone #right-icon .serveies .server-block img {
  width: 0.24rem;
  /* width: 100%; */
  /* height: 100%; */
}
#contact-us .phone #right-icon .serveies .text {
  text-align: center;
  /* margin-bottom: 0.2rem; */
  font-size: 0.14rem;
  font-weight: 500;
  color: #666666;
  line-height: 0.2rem;
  border-bottom: 0.02rem solid #9797;
  display: inline-block;
  padding-bottom: 0.2rem;
}
#back-top {
  padding-top: 0.2rem;
  width: 100%;
  text-align: center;
  margin-top: 0.01rem;
}
#contact-us .phone #right-icon #back-top:hover {
  cursor: pointer;
}
#contact-us .phone #right-icon #back-top .back-icon {
  width: 100%;
  /* height: 0.2rem; */
}
#contact-us .phone #right-icon #back-top .back-icon img {
  width: 0.28rem;
  /* height: 100%; */
}
#contact-us .phone #right-icon #back-top .text {
  margin-top: 0.05rem;
  /* margin-bottom: 0.2rem; */
  text-align: center;
  font-size: 0.14rem;
  font-weight: 500;
  color: #666666;
  line-height: 0.2rem;
  display: inline-block;
  border-bottom: none;
}
#contact-us .blue_icon{
  fill: #4f99fe;
}
#contact-us .white_icon{
  display: none;
  fill: #fff;
}