#header {
    position: relative;
    width: 100%;
    min-width: 12rem;
    height: 9rem;
}
#header{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#header .header-top {
    position: absolute;
    margin: 0 auto;
    display: flex;
    top: 0.5rem;
    right: 0;
    left: 0;
    max-width: 14rem;
    min-width: 12rem;
    z-index: 999;
    align-items: center;
}
#header .menu .parent{
    position: relative;
    box-sizing: border-box;
}
#header .menu .parent:hover{
border-bottom: 0.02rem solid #006DFF;
}
#header .menu .parent:hover .child{
    opacity: 1;
    height: auto;
}
#header .menu .child{
    cursor: pointer;
    padding: 0.1rem 0;
    padding-top: 0.2rem;
    position: absolute;
    top: 0.25rem;
    left: -0.15rem;
    width: 1.8rem;
    height: 0;
    opacity: 0;
/* background-color: rgba(109,109,109,0.43); */
/* display: none; */
}
#header .menu .child li{
    padding-bottom: 0.15rem;
    padding-left: 0.15rem;
}
  
#header .header-top .logo {
    margin-top: -0.1rem;
    margin-right: 0.9rem;
    /* width: 2.07rem; */
    width: 2.48rem;
/* height: 0.32rem; */
}
#header .header-top .logo img {
width: 100%;
height: 100%;
}
#header .header-top .menu {
display: flex;
align-items: center;
}
#header .header-top .menu .menu-nav #navigation {
display: flex;
align-items: center;
}
#header .header-top .menu .menu-nav #navigation li {
margin-right: 0.4rem;
}
#header .header-top .menu .menu-nav #navigation li:last-child {
margin-right: 0;
}
#header .header-top .menu .menu-nav #navigation li a {
color: #fff;
font-size: 0.18rem;
}
#header .header-top .contact-megs {
display: flex;
}
#header .header-top .contact-megs .contact {
margin-left: 0.72rem;
color: #fff;
font-size: 0.18rem;
text-align: center;
width: 2.6rem;
height: 0.6rem;
line-height: 0.6rem;
background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
border-radius: 0.1rem;
}
#header .header-top .contact-megs .contact .contact-img {
margin-left: 0.1rem;
display: inline-block;
width: 0.24rem;
height: 0.25rem;
}
#header .header-top .contact-megs .contact .contact-img img {
width: 100%;
height: 100%;
}
#header .header-top .contact-megs .phone {
display: flex;
margin-left: 0.2rem;
align-self: center;
align-items: center;
}
#header .header-top .contact-megs .phone .phone-img {
margin-right: 0.2rem;
width: 0.24rem;
height: 0.24rem;
}
#header .header-top .contact-megs .phone .phone-img img {
width: 100%;
height: 100%;
}
#header .header-top .contact-megs .phone .phone-number {
font-size: 0.2rem;
}
#header .header-middle {
margin: auto;
position: absolute;
width: 6.5rem;
top: 35.3%;
left: 0;
right: 0;
color: #fff;
z-index: 999;
}
#header .header-middle .title {
font-size: 0.5rem;
line-height: 0.7rem;
}
#header .header-middle .bottom {
margin-top: 0.2rem;
display: flex;
justify-content: center;
align-items: center;
}
#header .header-middle .bottom .text {
font-size: 0.26rem;
line-height: 0.37rem;
}
#header .header-middle .bottom .button {
margin-left: 0.2rem;
width: 1.8rem;
height: 0.6rem;
color: #fff;
font-size: 0.2rem;
line-height: 0.28rem;
background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
border-radius: 0.1rem;
}
#header .header-video {
width: 100vw;
height: 100vh;
min-width: 16rem;
}
#header .header-video .video {
width: 100%;
height: 100%;
}
#header .header-main{
    max-width: 14rem;
    min-width: 12rem;
    padding-top: 15.3%;
    margin: 0 auto;
}
#header .header-main .header-main-title{
    height: 0.7rem;
    font-size: 0.5rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.7rem;
    padding-left: 0.6rem;
    margin-left: -0.5rem;
    margin-bottom: 1.5rem;
}
#header .header-main .header-main-title img{
    width: 5rem;
}
#header .header-main .first-content{
    margin-top: 0.36rem;
    padding-left: 0.6rem;
}
#header .header-main .header-main-content{
    font-size: 0.26rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.37rem;   
    padding-left: 0.6rem;
}
#header .header-main .header-main-btn{
    width: 1.8rem;
    height: 0.6rem;
    background: linear-gradient(315deg, #2FD9D2 0%, #2983FD 100%);
    box-shadow: 0rem 0.12rem 0.2rem -0.08rem rgba(0, 0, 0, 0.2);
    border-radius: 0.1rem;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.6rem;
    margin-top: 0.36rem;
    margin-left: 0.6rem;
}

.main{
    max-width: 14rem;
    min-width: 12rem;
    margin: 0 auto;
}
.main .section_one{
    padding: 0.8rem 0 0.56rem 0;
}
/* .main .section .section-content:nth-child(2){
    padding-bottom: 0rem;
} */
.main .section .section-content{
    /* width: 13rem; */
    font-size: 0.2rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 0.28rem;
    text-align: center;
    padding-bottom: 0.24rem;
}
.section-two{
    width: 100%;
    height: 11.2rem;
    background-position: center center;
    background-size: cover;
}
.wrap .section_title{
    font-size: 0.5rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #222222;
    text-align: center;
    line-height: 0.7rem;
    margin: 0 auto;
    padding: 0.61rem 0 0.2rem 0;
}
.wrap .section_subtitle{
    font-size: 0.26rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    text-align: center;
    margin: 0 auto;
    padding: 0rem 0 0.8rem 0;
}
.section-two .section-block .section-block-item{
    position: relative;
    width: calc((100% - 0.4rem) / 2);
    display: inline-flex;
    justify-content: space-around;
    background-color: #ffffff;
    font-size: 0;
    box-sizing: border-box;
    float: left;
    border-radius: 0.08rem;
    margin-bottom: 0.4rem;
    cursor: pointer;
}
.section-two .section-block .section-block-item:nth-child(odd){
    margin-right: 0.4rem;
}
.section-two .section-block .section-block-item .left{
    width: 3.16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-two .section-block .section-block-item .right{
    width: calc(100% - 3.16rem - 0.44rem);
}
.section-two .section-block .section-block-item .right img{
    width: 100%
}
.section-two .section-hover-content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: #2C5791;
    border-radius: 0.08rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.25rem;
    box-sizing: border-box;
    padding: 0 1.1rem 0 1.1rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    font-size: 0;
    transition: height .3s ease-in-out;
}
.section-two .section-block-item:hover .section-hover-content{
    height: 100%;
    opacity: 1;
    font-size: 0.18rem;
}
.section-two .section-block .section-block-item .left .strong{
    min-width: 0.9rem;
    height: 0.42rem;
    font-size: 0.3rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #222222;
    line-height: 0.42rem;
}
.section-two .section-block .section-block-item .left .normal{
    width: 1.44rem;
    height: 0.25rem;
    font-size: 0.18rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #222222;
    line-height: 0.25rem;
    padding-top: 0.12rem;
}
.section-three .main{
    padding-bottom: 1.6rem;
}
.section-three .section_title{
    padding-top: 1.4rem;
}
.section-three .section_subtitle{
    padding-bottom: 0.8rem;
}
.section-three .section-block{
    display: flex;
    justify-content: space-evenly;
}
.section-three .section-block .section-block-item{
    width: calc(100% / 3);
    text-align: center;
    margin: 0 0.71rem;
}
.section-three .section-block .section-block-item .top{
    margin-bottom: 0.07rem;
}
.section-three .section-block .section-block-item img{
    width: 1.4rem;
}
.section-three .section-block .section-block-item .title{
    font-size: 0.3rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #222222;
    line-height: 0.42rem;
    margin:0 auto;
}
.section-three .section-block .section-block-item .subtitle{
    font-size: 0.18rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #222222;
    line-height: 0.25rem;
    margin:0 auto;
    padding-top: 0.15rem;
}
.section-four{
    width: 100%;
    height: 9.54rem;
    background-position: center center;
    background-size: cover;
}
.section-four .section_title{
    padding-top: 1.2rem;
}
.section-four .section_subtitle{
    padding-bottom: 0.6rem;
}
.section-four .section-block{
    display: flex;
    justify-content: space-evenly;
}
.section-four .section-block .section-block-item{
    position: relative;
    /* width: 3.2rem; */
    width: calc(100% / 4 - 0.4rem);
    height: 5.17rem;
    background-position: center center;
    background-size: cover;
    margin-right: 0.4rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.section-four .section-block .section-block-item .shadow{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
}
.section-four .section-block .section-block-item .shadow img{
    width: 100%;
}
.section-four .section-block .section-block-item:hover{
    margin-top: -0.2rem;
}
.section-four .section-block .section-block-item:hover .shadow{
    display: block;
}
.section-four .section-block .section-block-item:last-child{
    margin-right: 0;
}
.section-four .section-block-item .top{
    padding: 0.4rem 0rem 0 0rem;
}
.section-four .section-block-item .top .f{
    padding-bottom: 0.4rem;
    border-bottom: 0.01rem solid rgba(255, 255, 255, 0.25);
    width: 2.2rem;
    margin: 0 auto;
    text-align: center;

}
.section-four .section-block-item .top img{
    width: 1.88rem;
}
.section-four .section-block-item .section-content .section-line{
    width: 2.2rem;
    margin: 0 auto;
    font-size: 0.18rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.28rem;
    padding-bottom: 0.3rem;
}
.section-four .section-block-item .section-content .section-line:first-child{
    padding-top: 0.6rem;
}
.section-five{
    width: 100%;
    height: 7.25rem;
    text-align: center;
}
.section-five .title{
    font-size: 0.5rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 0.7rem;
    text-align: center;
    padding-top: 1.1rem;
}
.section-five .subtitle {
    text-align: center;
    line-height: 0.37rem;
    padding-top: 0.25rem;
    /* display: inline-flex;
    justify-content: flex-start;
    align-items: center; */
    margin: 0 auto;
}
.section-five .sub-item{
    font-size: 0.26rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #cfcfcf;
    line-height: 0.37rem;
    padding-right: 0.24rem;
    opacity: .6;
}
.section-five .sub-item-wrap{
    display: inline-block;
}
.section-five .active{
    color: #fff;
    opacity: 1;
}
.section-five .dot{
    margin-right: 0.22rem;
    display: inline-block;
    width: 0.06rem;
    height: 0.06rem;
    opacity: 0.25;
    background-color: #fff;
    line-height: 0.37rem;
    margin-bottom: 0.05rem;
    border-radius: 50%;
}
input{
    background-color: transparent;
    border: none;
    outline: none;
}
.section-five form {
    margin: 0 auto;
    padding-top: 0.8rem;
}
.section-five form .form-group:first-child{
    margin-right: 0.8rem;
}
.section-five form .form-group{
    width: 3.75rem;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0.29rem;
    border-bottom: 0.01rem solid rgba(255,255,255,.25);
    text-align: left;
    vertical-align: top;
}
.section-five form .form-group label{
    min-width: 0.6rem;
    height: 0.42rem;
    font-size: 0.3rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 0.42rem;
}
.section-five form .form-group input{
    width: 3rem;
    height: 0.42rem;
    color: #fff;
    font-size: 0.3rem;
    padding-left: 0.1rem;
}
.section-five form .last-group{
    width: 8.3rem;
    margin-right: 0 !important;
    padding-top: 0.36rem;
}
.section-five form .submit{
    padding-top: 0.8rem;
}
.section-five form button{
    width: 1.8rem;
    height: 0.6rem;
    background: linear-gradient(315deg, #2FD9D2 0%, #2983FD 100%);
    box-shadow: 0rem 0.12rem 0.2rem -0.08rem rgba(0, 0, 0, 0.2);
    border-radius: 0.1rem;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 0.33rem;
    font-size: 0.24rem;
}

@media screen and (max-width:14rem) {
    #header .header-top .menu .menu-nav #navigation li{
        margin-right: 0.25rem;
    }
    .section-two{
        /* height: 11rem; */
    }
    .footer-bottom{
        margin-top: -0.01rem;
    }
}
@media screen and (max-width:13rem) {
    .section-two{
        /* height: 9.9rem; */
    }
    /* #header .header-top .menu .menu-nav #navigation li{
        margin-right: 0.25rem;
    } */
}
@media screen and (max-width:12rem) {
    #header .header-main {
        padding-top: 13.3%;
    }
    .footer-bottom{
        margin-top: -0.01rem;
    }
}