#header {
    position: relative;
    width: 100vw;
    height: 100%;

    .header-top {
        position: absolute;
        margin: 0 auto;
        display: flex;
        align-items: center;
        top: 60px;
        right: 0;
        left: 0;
        width: 1400px;
        min-width: 1400px;
        z-index: 999;

        .logo {
            margin-top: -10px;
            margin-right: 90px;
            width: 207px;
            height: 32px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .menu {
            display: flex;
            align-items: center;

            .menu-nav {
                #navigation {
                    display: flex;
                    align-items: center;

                    li {
                        margin-right: 40px;

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            color: #fff;
                            font-size: 20px;
                        }
                    }
                }
            }


        }

        .contact-megs {
            display: flex;

            .contact {
                margin-left: 72px;
                color: #fff;
                font-size: 20px;
                text-align: center;
                width: 260px;
                height: 60px;
                line-height: 60px;
                background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
                border-radius: 10px;

                .contact-img {
                    margin-left: 10px;
                    display: inline-block;
                    width: 24px;
                    height: 25px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .phone {
                display: flex;
                margin-left: 20px;
                align-self: center;
                align-items: center;

                .phone-img {
                    margin-right: 20px;
                    width: 24px;
                    height: 24px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .phone-number {
                    font-size: 20px;
                }
            }
        }

    }

    .header-middle {
        margin: auto;
        position: absolute;
        width: 1400px;
        top: 40%;
        left: 0;
        right: 0;
        color: #fff;
        text-align: center;
        z-index: 999;

        .title {
            font-size: 50px;
            line-height: 70px;
        }

        .bottom {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            .text {
                font-size: 26px;
                line-height: 37px;
            }

            .button {
                margin-left: 20px;
                width: 180px;
                height: 60px;
                color: #fff;
                font-size: 20px;
                line-height: 28px;
                background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
                border-radius: 10px;


            }
        }

    }

    .header-video {
        width: 100%;
        min-width: 1400px;
        height: 100vh;


        .video {
            width: 100%;
            height: 100%;
        }
    }
}

#main {
    width: 100vw;

    .top-tags {
        position: relative;
        top: -80px;
        z-index: 999;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1400px;

        .tag {
            position: relative;
            top: 0;
            overflow: hidden;
            padding: 42px 0 42px 40px;
            width: 260px;
            height: 200px;
            background: #FFFFFF;
            box-shadow: 0px 4px 8px 0px rgba(225, 225, 225, 0.5);
            border-radius: 8px;
            transition: top .3s ease-in-out;

            &::before {
                position: absolute;
                left: 0;
                bottom: 0;
                content: "";
                width: 0px;
                height: 6px;
                background: linear-gradient(270deg, #064DFF 0%, #00B4FF 100%);
                transition: width .3s ease-in-out;
            }

            .tag-img {
                width: 50px;
                height: 46px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .tag-text {
                color: #222;

                .title {
                    margin-bottom: 5px;
                    font-size: 24px;
                    font-weight: 600;
                }

                .subtitle {
                    font-size: 18px;
                }
            }
        }

        .active {
            &::before {
                width: 100%;
                transition: width .5s ease-in-out;
            }
        }

        .leave {
            &::before {
                width: 0;
                transition: width .5s ease-in-out;
            }
        }
    }

    .product {
        position: relative;
        margin-top: -20px;
        min-width: 1400px;
        background: #f6f6f6;

        .right-arrow {
            position: absolute;
            margin: auto;
            height: 0px;
            top: 0;
            right: 20px;
            bottom: -280px;
            color: #2c7bf6;
            font-size: 48px;
            font-weight: bold;

            &:hover {
                cursor: pointer;
            }
        }

        .left-arrow {
            position: absolute;
            margin: auto;
            height: 0px;
            top: 0;
            left: 20px;
            bottom: -420px;
            color: #2c7bf6;
            font-size: 48px;
            font-weight: bold;
            transform: rotate(180deg);

            &:hover {
                cursor: pointer;
            }
        }

        .content {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 1400px;
            text-align: center;

            .pro {
                .pro-title {
                    margin-top: 100px;
                    font-size: 50px;
                    font-weight: 500;
                    color: #222222;
                    line-height: 70px;
                }

                .pro-subtitle {
                    color: #666666;
                    font-size: 26px;
                    font-weight: 400;
                    line-height: 37px;
                }
            }

            .card {
                margin-top: 100px;
                width: 100%;
                padding-bottom: 92px;

                .card-top {
                    padding-bottom: 15px;
                    display: flex;
                    justify-content: center;
                    border-bottom: 2px solid #D7D7D7;

                    .title {
                        position: relative;
                        padding: 0 20px;
                        font-size: 20px;
                        font-weight: 500;
                        color: #999999;
                        line-height: 28px;

                        &:hover {
                            cursor: pointer;
                        }

                        &::before {
                            margin: 0 auto;
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -15px;
                            content: '';
                            width: 0;
                            height: 5px;
                            background: linear-gradient(270deg, #064DFF 0%, #00B4FF 100%);
                        }

                        .list {
                            padding: 10px 15px;
                            position: absolute;
                            top: 42px;
                            left: 0;
                            display: flex;
                            display: none;
                            flex-direction: column;
                            color: #999999;
                            font-size: 18px;
                            width: 100%;
                            background: #fff;
                        }
                    }

                    .title-line {
                        color: #222222;
                        // font-size: 24px;
                        font-weight: bold;
                    }

                    .card-title-active {
                        &::before {
                            width: 100%;
                            transition: width .3s ease-in-out;
                        }
                    }

                    .card-title-leave {
                        &::before {
                            width: 0 !important;
                            transition: width .3s ease-in-out;
                        }
                    }

                    .left {
                        margin-right: 175px;
                    }

                    .right {}
                }

                .card-middle {
                    margin-top: 80px;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;



                    .left-box {
                        margin-right: 26px;
                        padding-left: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        width: 600px;
                        min-width: 600px;
                        height: 528px;
                        background-image: url("../assets/cardbanner.png");

                        .left-card-logo {
                            width: 203px;
                            height: 46px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .left-subtitle {
                            margin-top: 20px;
                            font-size: 24px;
                            font-weight: 400;
                            color: #FFFFFF;
                            line-height: 33px;
                        }

                    }

                    .right-box {
                        display: flex;
                        flex-wrap: wrap;
                        align-content: space-between;

                        .block {
                            margin-right: 26px;
                            padding-top: 60px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 240px;
                            height: 250px;
                            background: #FFFFFF;
                            border-radius: 8px;

                            &:nth-child(3n) {
                                margin-right: 0;
                            }

                            .img {
                                width: 48px;
                                height: 48px;

                                .clickbtn {
                                    transition: all 5s ease-in-out;
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                }


                            }

                            .img-title {
                                margin-top: 10px;
                                font-size: 24px;
                                font-weight: 500;
                                color: #222222;
                                line-height: 33px;
                            }

                            .img-subtitle {
                                margin-top: 5px;
                                font-size: 18px;
                                font-weight: 400;
                                color: #222222;
                                line-height: 25px;
                            }

                        }

                    }

                    .type0 {
                        .block {

                            &:last-child {
                                padding-top: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);

                                &:hover {
                                    cursor: pointer;
                                }

                                .img {
                                    width: 43px;
                                    height: 43px;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }

                    }

                    .type2 {
                        .block {
                            &:nth-child(3n) {
                                margin-right: 0;
                            }

                            &:nth-child(6) {
                                margin-right: 26px;
                            }

                            &:nth-child(8) {
                                margin-right: 0;
                            }

                            &:last-child {
                                padding-top: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);

                                &:hover {
                                    cursor: pointer;
                                }

                                .img {
                                    width: 43px;
                                    height: 43px;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }

                    }

                    .type1 {
                        .block {
                            &:last-child {
                                padding-top: 0;
                                background: #FFFFFF;

                                &:hover {
                                    cursor: pointer;
                                }

                                .img {
                                    width: 43px;
                                    height: 43px;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }


        }


    }

    .business {
        width: 100%;
        min-width: 1400px;
        height: 972px;
        border: 1px solid red;

        // .title {
        //     font-size: 50px;
        //     font-weight: 500;
        //     color: #FFFFFF;
        //     line-height: 70px;
        //     text-align: center;
        // }

        // .step-line {
        //     margin-top: 128px;
        //     width: 100%;
        //     height: 2px;
        //     border: 1px solid red;
        // }

        // background: url("../assets/能源banner.png") 100% no-repeat;
        .swiper {
            position: relative;
            justify-content: flex-end;
            align-items: flex-end;
            width: 100%;
            height: 100%;
            font-size: 0;
            overflow-x: hidden;

            .swiper-item {
                position: absolute;
                bottom: 100px;
                right: 20px;
                width: 150px;
                height: 200px;
                background-repeat: no-repeat;
                background-size: cover;
                display: inline-block;
                z-index: 3;
                transform-origin: center center;
            }

            .arrow {
                position: relative;
                z-index: 5;
            }

            .arrow {
                position: absolute;
                right: 50px;
                bottom: 60px;

                span {
                    z-index: 5;
                    font-size: 14px;
                    cursor: pointer;
                    background-color: rgba(88, 88, 88, .6);
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    margin-left: 30px;
                    display: inline-block;
                    border-radius: 50%;
                    color: #fff;

                    &:hover {
                        background-color: rgba(222, 222, 222, .8);
                    }
                }
            }

            .big {
                width: 100% !important;
                height: 100% !important;
                bottom: 0 !important;
                /* position: absolute;
                top: 0;
                left: 0; */
                right: 0 !important;
                z-index: 1;
                transition: all .5s ease-in;
                float: left;
            }

            .tr {
                transition: all .3s ease-in-out;
                z-index: 3 !important;
            }
        }



        .banner {
            margin-top: 136px;
            display: flex;

            .left {
                margin-left: 260px;

                .title {
                    text-align: left;
                    font-size: 36px;
                    font-weight: 500;
                    color: #FFFFFF;
                    line-height: 50px;
                }

                .subtitle {
                    margin-top: 20px;
                    font-size: 24px;
                    color: #FFFFFF;
                }

                .btn {
                    margin-top: 50px;
                    color: #fff;
                    width: 180px;
                    height: 60px;
                    border-radius: 10px;
                }

                .details {
                    margin-right: 30px;
                    border: 1px solid #FFFFFF;
                    background: transparent
                }

                .free {
                    background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
                }

            }

            .right {
                margin-left: 88px;
            }
        }

    }

    .story {
        position: relative;
        padding: 100px 0 140px 0;
        min-width: 1400px;
        background: #f6f6f6;

        .story-content {
            position: relative;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 1400px;
            text-align: center;

            .heading {
                color: #222222;
                font-size: 50px;
                font-weight: 500;
                line-height: 70px;
            }

            .select-line {
                margin-top: 80px;
                padding-bottom: 15px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                border-bottom: 2px solid #E4E4E4;

                .title {
                    position: relative;
                    padding: 0 20px;
                    color: #999999;
                    font-size: 20px;
                    line-height: 28px;

                    &:hover {
                        cursor: pointer;
                        color: #222;
                        font-weight: bold;
                    }

                    &::before {
                        margin: 0 auto;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -15px;
                        content: '';
                        width: 0;
                        height: 5px;
                        background: linear-gradient(270deg, #064DFF 0%, #00B4FF 100%);
                    }
                }

                .title-story-line {
                    color: #222222;
                    // font-size: 24px;
                    font-weight: bold;
                }

                .story-title-active {
                    &::before {
                        width: 100%;
                        transition: width .3s ease-in-out;
                    }
                }

                .story-title-leave {
                    &::before {
                        width: 0 !important;
                        transition: width .3s ease-in-out;
                    }
                }
            }

            .swiper {
                width: 100%;

                .swiper-container {
                    position: relative;
                    margin: 80px 0;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .swiper-wrapper {}

                    .swiper-slide {
                        background: #f6f6f6 !important;
                        text-align: center;
                        font-size: 18px;
                        background: #fff;
                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        justify-content: space-between;

                        .slide-item {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 320px;
                            height: 398px;
                            background: #fff;
                            border-radius: 8px;
                            overflow: hidden;
                            transition: all 5s ease-in-out;

                            &:hover {
                                cursor: pointer;
                            }

                            .item-box {
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                width: 100%;
                                height: 100%;

                                .item-img {
                                    margin: 0 auto;
                                    width: 230px;
                                    height: 190px;
                                    transition: all .3s ease-in-out;
                                    transform: translate3d();

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .opacity-box {
                                    width: 10px;
                                    height: 170px;
                                    background: red;
                                    // opacity: 0;
                                }

                                .item-text {
                                    position: absolute;
                                    display: none;
                                    bottom: 0;
                                    padding: 20px 18px 16px;
                                    width: 100%;
                                    height: 170px;
                                    background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);

                                    .text-heading {
                                        color: #FFFFFF;
                                        font-size: 24px;
                                        text-align: left;
                                        line-height: 33px;
                                    }

                                    .text {
                                        color: #FFFFFF;
                                        font-size: 14px;
                                        text-align: left;
                                        line-height: 26px;
                                    }
                                }
                            }

                        }
                    }
                }

                .swiper-container1 {
                    position: relative;
                    margin: 80px 0;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .swiper-wrapper {}

                    .swiper-slide {
                        background: #f6f6f6 !important;
                        text-align: center;
                        font-size: 18px;
                        background: #fff;
                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        justify-content: space-between;

                        .slide-item {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 320px;
                            height: 398px;
                            background: #fff;
                            border-radius: 8px;
                            overflow: hidden;
                            transition: all 5s ease-in-out;

                            &:hover {
                                cursor: pointer;
                            }

                            .item-box {
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                width: 100%;
                                height: 100%;

                                .item-img {
                                    margin: 0 auto;
                                    width: 230px;
                                    height: 190px;
                                    transition: all .3s ease-in-out;
                                    transform: translate3d();

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .opacity-box {
                                    width: 10px;
                                    height: 170px;
                                    background: red;
                                    // opacity: 0;
                                }

                                .item-text {
                                    position: absolute;
                                    display: none;
                                    bottom: 0;
                                    padding: 20px 18px 16px;
                                    width: 100%;
                                    height: 170px;
                                    background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);

                                    .text-heading {
                                        color: #FFFFFF;
                                        font-size: 24px;
                                        text-align: left;
                                        line-height: 33px;
                                    }

                                    .text {
                                        color: #FFFFFF;
                                        font-size: 14px;
                                        text-align: left;
                                        line-height: 26px;
                                    }
                                }
                            }

                        }
                    }
                }

                .swiper-container2 {
                    position: relative;
                    margin: 80px 0;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .swiper-wrapper {}

                    .swiper-slide {
                        background: #f6f6f6 !important;
                        text-align: center;
                        font-size: 18px;
                        background: #fff;
                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        justify-content: space-between;

                        .slide-item {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 320px;
                            height: 398px;
                            background: #fff;
                            border-radius: 8px;
                            overflow: hidden;
                            transition: all 5s ease-in-out;

                            &:hover {
                                cursor: pointer;
                            }

                            .item-box {
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                width: 100%;
                                height: 100%;

                                .item-img {
                                    margin: 0 auto;
                                    width: 230px;
                                    height: 190px;
                                    transition: all .3s ease-in-out;
                                    transform: translate3d();

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .opacity-box {
                                    width: 10px;
                                    height: 170px;
                                    background: red;
                                    // opacity: 0;
                                }

                                .item-text {
                                    position: absolute;
                                    display: none;
                                    bottom: 0;
                                    padding: 20px 18px 16px;
                                    width: 100%;
                                    height: 170px;
                                    background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);

                                    .text-heading {
                                        color: #FFFFFF;
                                        font-size: 24px;
                                        text-align: left;
                                        line-height: 33px;
                                    }

                                    .text {
                                        color: #FFFFFF;
                                        font-size: 14px;
                                        text-align: left;
                                        line-height: 26px;
                                    }
                                }
                            }

                        }
                    }
                }

                .swiper-container3 {
                    position: relative;
                    margin: 80px 0;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .swiper-wrapper {}

                    .swiper-slide {
                        background: #f6f6f6 !important;
                        text-align: center;
                        font-size: 18px;
                        background: #fff;
                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        justify-content: space-between;

                        .slide-item {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 320px;
                            height: 398px;
                            background: #fff;
                            border-radius: 8px;
                            overflow: hidden;
                            transition: all 5s ease-in-out;

                            &:hover {
                                cursor: pointer;
                            }

                            .item-box {
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                width: 100%;
                                height: 100%;

                                .item-img {
                                    margin: 0 auto;
                                    width: 230px;
                                    height: 190px;
                                    transition: all .3s ease-in-out;
                                    transform: translate3d();

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .opacity-box {
                                    width: 10px;
                                    height: 170px;
                                    background: red;
                                    // opacity: 0;
                                }

                                .item-text {
                                    position: absolute;
                                    display: none;
                                    bottom: 0;
                                    padding: 20px 18px 16px;
                                    width: 100%;
                                    height: 170px;
                                    background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);

                                    .text-heading {
                                        color: #FFFFFF;
                                        font-size: 24px;
                                        text-align: left;
                                        line-height: 33px;
                                    }

                                    .text {
                                        color: #FFFFFF;
                                        font-size: 14px;
                                        text-align: left;
                                        line-height: 26px;
                                    }
                                }
                            }

                        }
                    }
                }
            }

            .my-button-disabled {
                display: none;
            }



            .read-more {
                width: 200px;
                height: 60px;
                color: #FFFFFF;
                font-size: 20px;
                line-height: 28px;
                background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
                border-radius: 10px;
            }
        }

        .swiper-button-prev {
            left: 20px;
            top: calc(50% + 70px);

            &:focus {
                outline: none;
            }
        }

        .swiper-button-next {
            right: 20px;
            top: calc(50% + 70px);

            &:focus {
                outline: none;
            }
        }
    }

    .news {
        padding: 100px 0 80px;
        min-width: 1400px;

        .news-content {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            width: 1400px;

            .heading {
                color: #222222;
                font-size: 50px;
                text-align: center;
                line-height: 70px;
            }

            .list {
                margin-top: 40px;
                display: flex;

                .left-poster {
                    margin-right: 40px;
                    position: relative;
                    width: 800px;
                    height: 460px;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }

                .right-nav {
                    padding: 0px 0px;
                    display: flex;
                    flex-direction: column;
                    width: 560px;
                    height: 460px;
                    background: #FFFFFF;
                    box-shadow: 0px 2px 13px 0px #F3F3F3;
                    border-radius: 8px;

                    .nav-title {
                        margin: 0 20px;
                        margin-top: 35px;
                        padding-bottom: 26px;
                        color: #222222;
                        font-size: 20px;
                        line-height: 28px;
                        border-bottom: 2px solid #ECECEC;

                        &:hover {
                            cursor: pointer;
                        }

                        h4 {
                            max-width: 460px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .news-time {
                            color: #999999;
                            width: 70px;
                            font-size: 14px;
                            line-height: 20px;
                        }


                    }

                    .read-more {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 104px;
                        color: #fff;
                        font-size: 20px;
                        background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
                        border-radius: 0px 0px 8px 8px;

                        .news-logo {
                            margin-right: 20px;
                            width: 30px;
                            height: 27px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                    }
                }
            }
        }
    }
}

#footer {
    .footer-top {
        width: 100%;
        height: 480px;
        min-width: 1400px;
        background: url("../assets/奥哲在身边.png") 50% no-repeat;
    }

    .footer-bottom {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 634px;
        min-width: 1400px;
        background: url("../assets/bg.png") 50% no-repeat;

        .content {
            margin: 0 auto;
            width: 1400px;

            .fb-top {
                display: flex;
                justify-content: space-between;

                .content-item {
                    display: flex;
                    align-items: center;

                    .item-title {
                        margin-left: 15px;
                        color: #FFFFFF;
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }

            .fb-bottom {
                display: flex;
                justify-content: space-between;

                .p-text {
                    color: #FFFFFF;
                    font-size: 20px;
                    line-height: 28px;
                }

                margin-top: 100px;

                .left-content {
                    color: #fff;

                    .content-logo {
                        width: 234px;
                        height: 36px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .content-phone {
                        margin-top: 58px;

                        .phone-btn {
                            margin-top: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 155px;
                            height: 41px;
                            color: #FFFFFF;
                            background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
                            border-radius: 4px;

                            .phone-img {
                                margin-right: 10px;
                                width: 18px;
                                height: 18px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }



                    }

                    .content-about {
                        margin-top: 46px;

                        .about-logo {
                            margin-top: 20px;
                            display: flex;

                            .logo-img {
                                margin-right: 8px;
                                width: 30px;
                                height: 30px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }

                    .content-declare {
                        margin-top: 45px;
                        color: #EEEEEE;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 17px;

                        .dec-title {}

                        .dec-subtitle {
                            margin-top: 10px;

                            .privacy {
                                color: #007AFF !important;
                            }
                        }
                    }
                }

                .right-content {
                    display: flex;
                    justify-content: space-between;
                    width: 780px;
                    // border: 1px solid blueviolet;


                    .block {
                        .b-heading {
                            font-size: 20px;
                            font-weight: 500;
                            color: #FFFFFF;
                            line-height: 28px;
                        }

                        .b-navgation {

                            li {
                                margin-top: 20px;

                                a {
                                    color: #EEEEEE;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 20px;
                                }
                            }
                        }

                        .quick-ways {
                            margin-top: 50px;
                        }

                        .number-display {
                            .download {
                                width: 83px;
                                height: 24px;
                                color: #FFFFFF;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;
                                background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
                                border-radius: 12px;
                            }
                        }

                        .serveies {
                            margin-top: 50px;
                        }
                    }
                }
            }
        }

    }
}

// @media screen and (max-width: 1400px) {
//     .right-arrow {
//         right: 0px !important;

//         &:hover {
//             cursor: pointer;
//         }
//     }

//     .left-arrow {
//         left: 0px !important;

//         &:hover {
//             cursor: pointer;
//         }
//     }

//     .swiper-button-prev {
//         left: 0px !important;
//         top: calc(50% + 70px);

//         &:focus {
//             outline: none;
//         }
//     }

//     .swiper-button-next {
//         right: 0 !important;
//         top: calc(50% + 70px);

//         &:focus {
//             outline: none;
//         }
//     }
// }