/* body{
  overflow-x: hidden !important;
} */
#header {
  position: relative;
  width: 100%;
  min-width: 12rem;
  height: 100%;
}

#header .header-shadow{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
}
#header .header-shadow img{
  width: 100%;
  height: 100%;
}
#header .header-top {
  position: absolute;
  margin: 0 auto;
  display: flex;
  align-items: center;
  top: 0.5rem;
  right: 0;
  left: 0;
  max-width: 14rem;
  min-width: 12rem;
  z-index: 1002;
}
#header .swiper-header{
  transform:translate3d(0,0,0);
  overflow:hidden;
}
#header .swiper-slide{
  width: 100%;
  height: 100%;
  transform:translate3d(0,0,0);
}
/* #header .slide-img{
  width: 100% !important;
} */
#header .header-top .logo {
  margin-top: -0.1rem;
  margin-right: 0.9rem;
  width: 2.48rem;
}

#header .header-top .logo img {
  width: 100%;
  height: 100%;
}

#header .header-top .menu {
  display: flex;
  align-items: center;
}
#header .menu .parent{
  position: relative;
  box-sizing: border-box;
}
#header .menu .parent:hover{
  border-bottom: 0.02rem solid #006DFF;
}
#header .menu .parent:hover .child{
  opacity: 1;
  height: auto;
}
#header .menu .child{
  cursor: pointer;
  padding: 0.1rem 0;
  padding-top: 0.2rem;
  position: absolute;
  top: 0.25rem;
  left: -0.15rem;
  width: 1.8rem;
  height: 0;
  opacity: 0;
  /* background-color: rgba(109,109,109,0.43); */
  /* display: none; */
}
#header .menu .child li{
  padding-bottom: 0.15rem;
  padding-left: 0.15rem;
}

#header .header-top .menu .menu-nav #navigation {
  display: flex;
  align-items: center;
}

#header .header-top .menu .menu-nav #navigation li {
  margin-right: 0.4rem;
}

#header .header-top .menu .menu-nav #navigation li:last-child {
  margin-right: 0;
}

#header .header-top .menu .menu-nav #navigation li a {
  color: #fff;
  font-size: 0.18rem;
}

#header .header-top .contact-megs {
  display: flex;
}

#header .header-top .contact-megs .contact {
  margin-left: 0.72rem;
  color: #fff;
  font-size: 0.18rem;
  text-align: center;
  width: 2.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
  border-radius: 0.1rem;
}

#header .header-top .contact-megs .contact .contact-img {
  margin-left: 0.1rem;
  display: inline-block;
  width: 0.24rem;
  height: 0.25rem;
}

#header .header-top .contact-megs .contact .contact-img img {
  width: 100%;
  height: 100%;
}

#header .header-top .contact-megs .phone {
  display: flex;
  margin-left: 0.2rem;
  align-self: center;
  align-items: center;
}

#header .header-top .contact-megs .phone .phone-img {
  margin-right: 0.2rem;
  width: 0.24rem;
  height: 0.24rem;
}

#header .header-top .contact-megs .phone .phone-img img {
  width: 100%;
  height: 100%;
}

#header .header-top .contact-megs .phone .phone-number {
  font-size: 0.2rem;
}

#header .header-middle {
  margin: auto;
  position: absolute;
  width: 13rem;
  top: 35.3%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  z-index: 1002;
}

#header .header-middle .title {
  font-size: 0.5rem;
  line-height: 0.7rem;
}

#header .header-middle .bottom {
  margin-top: 0.32rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .header-middle .bottom .text {
  font-size: 0.26rem;
  line-height: 0.37rem;
}

#header .header-middle .bottom .button {
  margin-left: 0.2rem;
  width: 1.8rem;
  height: 0.6rem;
  color: #fff;
  font-size: 0.2rem;
  line-height: 0.28rem;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
  border-radius: 0.1rem;
}

#header .header-video {
  width: 100%;
  /* min-width: 14rem; */
  /* height: 100vh; */
  height: 9rem;
}

#header .header-video .swiper-container {
  height: 100%;
  width: 100%;
  z-index: 998;
}

#header .header-video .swiper-container {
  position: relative;
}

#header .header-video .swiper-container .header-arrow {
  margin: auto;
  position: absolute;
  height: 0.5rem;
  top: 0;
  bottom: 0;
  /* color: #3f84f5;
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
  /* background-color: rgba(118, 118, 118, .5); */
  /* border-radius: 100%; */
  z-index: 1002;
}
#header .header-video .swiper-container .header-arrow img{
  width: 0.36rem;
}

#header .header-video .swiper-container .header-arrow:hover {
  cursor: pointer;
}

#header .header-video .swiper-container #header-prev {
  left: 8%;
}

#header .header-video .swiper-container #header-next {
  right: 8%;
}
#header .header-video .swiper-container #header-next img {
  transform-origin: center;
  transform: rotate(180deg);
}

#header .header-video .swiper-slide {
  text-align: center;
  font-size: 0.18rem;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* width: auto !important; */
}
#header .swiper-pagination{
  position: relative;
  z-index: 1002;
}
#header .header-video .swiper-slide img {
  width: 100%;
  height: 100%;
}

#header .header-video .video {
  width: 100%;
  height: 100%;
}

#main {
  position: relative;
  z-index: 1002;
  /* width: 100vw; */
}

#main .top-tags {
  position: relative;
  top: -1.2rem;
  z-index: 999;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
}
#main .top-tags .tag {
  position: relative;
  top: 0;
  overflow: hidden;
  padding: 0.42rem 0 0.42rem 0.4rem;
  width: 2.6rem;
  height: 2rem;
  background: #FFFFFF;
  box-shadow: 0rem 0.04rem 0.08rem 0rem rgba(225, 225, 225, 0.5);
  border-radius: 0.08rem;
  transition: top 0.3s ease-in-out;
  cursor: pointer;
}

#main .top-tags .tag::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 0rem;
  height: 0.06rem;
  background: linear-gradient(270deg, #064DFF 0%, #00B4FF 100%);
  transition: width 0.3s ease-in-out;
}

#main .top-tags .tag .tag-img {
  width: 0.5rem;
  height: 0.46rem;
}

#main .top-tags .tag .tag-img img {
  width: 100%;
  height: 100%;
}

#main .top-tags .tag .tag-text {
  color: #222;
  padding-top: 0.05rem;
}

#main .top-tags .tag .tag-text .title {
  margin-bottom: 0.05rem;
  font-size: 0.24rem;
  font-weight: 600;
}

#main .top-tags .tag .tag-text .subtitle {
  font-size: 0.18rem;
  color: #666;
  font-weight: normal;
}

#main .top-tags .active::before {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

#main .top-tags .leave::before {
  width: 0;
  transition: width 0.5s ease-in-out;
}

#main .product {
  position: relative;
  margin-top: -0.2rem;
  min-width: 14rem;
  background: #f6f6f6;
}

#main .product .right-arrow {
  position: absolute;
  margin: auto;
  /* height: 0rem; */
  top: calc(50% + 1.9rem);
  margin-top: -0.24rem;
  /* right: -1rem; */
  right: 8%;
  /* bottom: -2.8rem; */
  color: #2c7bf6;
  font-size: 0.48rem;
  font-weight: bold;
  width: 0.36rem;
  height: 0.36rem;
  /* background-color: rgba(118, 118, 118, .5); */
  line-height: 0.6rem;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
}

#main .product .right-arrow:before {
  color: #fff;
  font-size: 0.28rem;
}

#main .product .right-arrow:hover {
  cursor: pointer;
}

#main .product .left-arrow {
  position: absolute;
  margin: auto;
  top: calc(50% + 1.9rem);
  margin-top: -0.24rem;
  /* left: -1rem; */
  left: 8%;
  /* bottom: -4.2rem; */
  color: #2c7bf6;
  font-size: 0.48rem;
  font-weight: bold;
  /* transform: rotate(180deg); */
  width: 0.36rem;
  height: 0.36rem;
  /* background-color: rgba(118, 118, 118, .5); */
  line-height: 0.6rem;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main .product .left-arrow::before {
  color: #fff;
  font-size: 0.28rem;
}

#main .product .left-arrow:hover {
  cursor: pointer;
}

#main .product .content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14rem;
  text-align: center;
}

#main .product .content .pro .pro-title {
  margin-top: 1rem;
  font-size: 0.5rem;
  font-weight: 500;
  color: #222222;
  line-height: 0.7rem;
}

#main .product .content .pro .pro-subtitle {
  color: #666666;
  font-size: 0.24rem;
  font-weight: 400;
  line-height: 0.37rem;
  padding-top: 0.2rem;
}

#main .product .content .card {
  margin-top: 1rem;
  width: 100%;
  padding-bottom: 0.92rem;
}

#main .product .content .card .card-top {
  padding-bottom: 0.15rem;
  display: flex;
  justify-content: center;
  border-bottom: 0.02rem solid #D7D7D7;
}

#main .product .content .card .card-top .title {
  position: relative;
  padding: 0 0.2rem;
  font-size: 0.24rem;
  /* font-weight: 500; */
  color: #999999;
  line-height: 0.28rem;
}

#main .product .content .card .card-top .title:hover {
  cursor: pointer;
}

#main .product .content .card .card-top .title::before {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.15rem;
  content: '';
  width: 0;
  height: 0.05rem;
  background: linear-gradient(270deg, #064DFF 0%, #00B4FF 100%);
}

#main .product .content .card .card-top .title .list {
  /* padding: 0.1rem 0.15rem; */
  position: absolute;
  top: 0.45rem;
  left: 0;
  font-size: 0.22rem;
  display: none;
  /* display: flex;
  display: none;
  flex-direction: column;
  color: #999999;
  font-size: 0.22rem;
  width: 100%;
  background: #fff;
  z-index: 22;
  height: auto !important; */
  height: auto !important;
  z-index: 22;
  width: 100%;
  border: 0.01rem solid #e4e7ed;
  border-radius: 0.04rem;
  background-color: #fff;
  box-shadow: 0 0.02rem 0.12rem 0 rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  /* margin: 0.05rem 0; */
}
#main .product .content .card .card-top .title .list li{
    padding: 0.15rem 0;
    font-size: 0.16rem;
    /* padding: 0 0.2rem; */
    position: relative;
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    color: #606266;
    /* height: 0.34rem; */
    line-height: 0.34rem;
    box-sizing: border-box;
    cursor: pointer;
}
#main .product .content .card .card-top .title .list li:hover{
  background-color: #f5f7fa;
}

#main .product .content .card .card-top .title-line {
  color: #222222;
  font-weight: bold;
}

#main .product .content .card .card-top .card-title-active::before {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

/* #main .product .content .card .card-top .card-title-leave::before {
  width: 0 !important;
  transition: width 0.3s ease-in-out;
} */

#main .product .content .card .card-top .left {
  margin-right: 1.75rem;
}
#main .product .content .card .card-top .card-top-title {
  font-size: 0.24rem;
}

#main .product .content .card .card-middle {
  margin-top: 0.8rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#main .product .content .card .card-middle .left-box {
  margin-right: 0.26rem;
  padding-left: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 6rem;
  min-width: 6rem;
  height: 5.28rem;
  background-image: url("../assets/cardbanner.jpeg?t=34534534534535");
  border-radius: 0.1rem;
}

#main .product .content .card .card-middle .left-box .left-card-logo {
  width: 2.03rem;
  /* height: 0.46rem; */
}
#main .product .content .card .card-middle .left-box .l_type3 .left-card-logo {
  width: 2.8rem;
  margin-left: -0.2rem;
  margin-top: -0.2rem;
  /* height: 0.46rem; */
}
#main .product .content .card .card-middle .left-box .l_type3 .left-subtitle{
  margin-top: 0;
  padding-top: 0.05rem;
  margin-left: -0.5rem;
}
#main .product .content .card .card-middle .left-box .left-card-logo img {
  width: 100%;
  height: 100%;
}

#main .product .content .card .card-middle .left-box .left-subtitle {
  margin-top: 0.2rem;
  font-size: 0.24rem;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 0.33rem;
}

#main .product .content .card .card-middle .right-box {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

#main .product .content .card .card-middle .right-box .block {
  margin-right: 0.26rem;
  /* padding-top: 0.4rem; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.5rem;
  background: #FFFFFF;
  border-radius: 0.08rem;
  cursor: pointer;
}

#main .product .content .card .card-middle .right-box .page-2 {
  margin-right: 0.26rem;
}

/* #main .product .content .card .card-middle .right-box .page-2:first-child {
  margin-right: 0.26rem !important;
} */
#main .product .content .card .card-middle .right-box .block:nth-child(3n) {
  margin-right: 0;
}

#main .product .content .card .card-middle .right-box .page-1:nth-child(2) {
  margin-right: 0.26rem;
}

#main .product .content .card .card-middle .right-box .page-1:nth-child(4) {
  margin-right: 0.26rem;
}

#main .product .content .card .card-middle .right-box .block .img {
  width: 0.48rem;
  height: 0.48rem;
  margin:  0 auto;
}

#main .product .content .card .card-middle .right-box .block .img .clickbtn {
  transition: all 5s ease-in-out;
}

#main .product .content .card .card-middle .right-box .block .img img {
  width: 100%;
  /* height: 100%; */
}

#main .product .content .card .card-middle .right-box .block .img-title {
  margin-top: 0.1rem;
  font-size: 0.24rem;
  font-weight: 500;
  color: #222222;
  line-height: 0.33rem;
}

#main .product .content .card .card-middle .right-box .block .img-subtitle {
  margin-top: 0.05rem;
  font-size: 0.16rem;
  font-weight: 400;
  color: #666;
  line-height: 0.2rem;
  min-height: 0.4rem;
}

#main .product .content .card .card-middle .type0 .block:last-child {
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
}
#main .product .content .card .card-middle .type0 .block:last-child a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#main .product .content .card .card-middle .type0 .block:last-child:hover {
  cursor: pointer;
}

#main .product .content .card .card-middle .type0 .block:last-child .img {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 0.43rem; */
}
#main .product .content .card .card-middle .type0 .block:last-child .arrow-next-text {
  color: #fff;
  font-size: 0.16rem;
  padding-right: 0.1rem;
}
#main .product .content .card .card-middle .type0 .block:last-child .img img {
  width: 0.32rem;
}

#main .product .content .card .card-middle .type1 .block {
  margin-right: 0.26rem;
  /* padding-top: 0.6rem; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.5rem;
  background: #FFFFFF;
  border-radius: 0.08rem;
}

#main .product .content .card .card-middle .type2 .block:nth-child(6) {
  margin-right: 0.26rem;
}

#main .product .content .card .card-middle .type2 .block:nth-child(8) {
  margin-right: 0;
}

#main .product .content .card .card-middle .type2 .block:last-child {
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
}
#main .nextblock {
  padding-top: 0 !important;
  display: flex !;
  justify-content: center !;
  align-items: center !important;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%) !important;
}
#main .nextblock .img{
  width: 2rem !important;
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .nextblock a{
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
#main .nextblock .arrow-next-text{
  color: #fff;
  font-size: 0.16rem;
  padding-right: 0.1rem;

}
#main .nextblock .img img{
  width: 0.32rem !important;
  height: auto !important;
}
#main .product .content .card .card-middle .type2 .block:last-child a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#main .product .content .card .card-middle .type2 .block:last-child:hover {
  cursor: pointer;
}

#main .product .content .card .card-middle .type2 .block:last-child .img {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main .product .content .card .card-middle .type2 .block:last-child .arrow-next-text {
  color: #fff;
  font-size: 0.16rem;
  padding-right: 0.1rem;
}

#main .product .content .card .card-middle .type2 .block:last-child .img img {
  width: 0.32rem;
}

#main .product .content .card .card-middle .type1 .block:last-child {
  /* padding-top: 0;
  background: #FFFFFF; */
}

#main .product .content .card .card-middle .type1 .block:last-child:hover {
  cursor: pointer;
}

#main .product .content .card .card-middle .type1 .block:last-child .img {
  width: 0.43rem;
  height: 0.43rem;
}

#main .product .content .card .card-middle .type1 .block:last-child .img img {
  width: 100%;
  height: 100%;
}

#main .business {
  position: relative;
  width: 100%;
  /* min-width: 14rem; */
  height: 9.72rem;
  overflow: hidden;
  /* border: 0.01rem solid blue; */
}

#main .business .swiper {
  width: 100%;
  position: relative;
  background: #000;
  font-size: 0.14rem;
  color: #000;
  height: 100%;
  overflow: hidden;
  /* 缩略图 */
}

#main .business .swiper .gallery-top .swiper_btn {
  position: absolute;
  bottom: 0;
  z-index: 999;
  color: red;
  width: 0.41rem;
  height: 0.41rem;
  border: 0.01rem solid #fff;
  border-radius: 100%;
  background: transparent;
  z-index: 10002;
}

#main .business .swiper .gallery-top #prev_btn {
  left: 0;
}

#main .business .swiper .gallery-top #next_btn {
  right: 0;
}

#main .business .swiper .swiper-button-white {
  top: 1rem;
}

#main .business .swiper .swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#main .business .swiper .swiper-container .swiper-slide {
  background-size: cover;
  background-position: center;
}

#main .business .swiper .gallery-top {
  height: 100%;
  width: 100%;
}

#main .business .swiper .gallery-thumbs {
  position: absolute;
  bottom: 2.61rem;
  right: -1rem;
  width: 9rem;
  box-sizing: border-box;
}

#main .business .swiper .gallery-thumbs .swiper-slide {
  width: 1.86rem !important;
  height: 2.61rem !important;
  /* margin-right: 0.4rem; */
  border-radius: 0.1rem;
  opacity: 0.4;
  /* transform: scale(0.9) !important;
  transform: scaleX(0.8); */
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 0.1rem 0.02rem rgba(109,109,109, 0.43);
}
#main .business .swiper .gallery-thumbs .swiper-slide-thumb-active {

  /* transform: scale(1) !important; */
  opacity: 1;
  transition: transform 0.3s ease-in-out;
}


/* #main .business .swiper {
  position: relative;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  font-size: 0;
  overflow-x: hidden;
}

#main .business .swiper .swiper-item {
  position: absolute;
  bottom: 1rem;
  right: 0.2rem;
  width: 1.5rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  z-index: 3;
  transform-origin: center center;
}

#main .business .swiper .arrow {
  position: relative;
  z-index: 5;
}

#main .business .swiper .arrow {
  position: absolute;
  right: 0.5rem;
  bottom: 0.6rem;
}

#main .business .swiper .arrow span {
  z-index: 5;
  font-size: 0.14rem;
  cursor: pointer;
  background-color: rgba(88, 88, 88, 0.6);
  width: 0.3rem;
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  margin-left: 0.3rem;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
} */

#main .business .swiper .arrow span:hover {
  background-color: rgba(222, 222, 222, 0.8);
}

#main .business .swiper .big {
  width: 100% !important;
  height: 100% !important;
  bottom: 0 !important;
  /* position: absolute;
                top: 0;
                left: 0; */
  right: 0 !important;
  z-index: 1;
  transition: all 0.5s ease-in;
  float: left;
}

#main .business .swiper .tr {
  transition: all 0.3s ease-in-out;
  z-index: 3 !important;
}

#main .business .banner {
  margin-top: 1.36rem;
  display: flex;
}

#main .business .banner .left {
  margin-left: 2.6rem;
}

#main .business .banner .left .title {
  text-align: left;
  font-size: 0.36rem;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 0.5rem;
}

#main .business .banner .left .subtitle {
  margin-top: 0.2rem;
  font-size: 0.24rem;
  color: #FFFFFF;
}

#main .business .banner .left .btn {
  margin-top: 0.5rem;
  color: #fff;
  width: 1.8rem;
  height: 0.6rem;
  border-radius: 0.1rem;
}

#main .business .banner .left .details {
  margin-right: 0.3rem;
  border: 0.01rem solid #FFFFFF;
  background: transparent;
}

#main .business .banner .left .free {
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
}

#main .business .banner .right {
  margin-left: 0.88rem;
}
#main .store-bullet{

}
#main .store-bullet span{
  display: inline-block;
  width: 0.3rem;
  height: 0.1rem;
  border-radius: 0.1rem;
  background-color: rgba(255,255,255,.2);
  margin-right: 0.1rem;
}
#main .store-bullet .active{
  background-color: #2983FD;
}
#main .story {
  position: relative;
  /* padding: 1rem 0 1.4rem 0; */
  padding: 1.2rem 0 1rem 0;
  min-width: 14rem;
  background: #f6f6f6;
}

#main .story .story-content {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 14rem; */
  max-width: 14rem;
  text-align: center;
}

/* #main .story .story-content .heading { */
#main .story .heading {
  margin: 0 auto;
  color: #222222;
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 0.7rem;
  max-width: 14rem;
  text-align: center;
}

#main .story .select-line {
  margin: 0 auto;
  /* margin-top: 0.8rem; */
  padding-top: 0.7rem;
  padding-bottom: 0.15rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 0.02rem solid #E4E4E4;
  max-width: 14rem;
}

#main .story .select-line .title {
  position: relative;
  padding: 0 0.2rem;
  color: #999999;
  font-size: 0.2rem;
  line-height: 0.28rem;
}

#main .story .select-line .title:hover {
  cursor: pointer;
  color: #222;
  font-weight: bold;
}

#main .story .select-line .title::before {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.15rem;
  content: '';
  width: 0;
  height: 0.05rem;
  background: linear-gradient(270deg, #064DFF 0%, #00B4FF 100%);
}

#main .story .select-line .title-story-line {
  color: #222222;
  font-weight: bold;
}

#main .story .select-line .story-title-active {
  font-size: 0.24rem;
}
#main .story .select-line .story-title-active::before {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

#main .story .select-line .story-title-leave::before {
  width: 0 !important;
  transition: width 0.3s ease-in-out;
}

#main .story .story-content .swiper {
  width: 100%;
}

#main .story .swiper-container {
  position: relative;
  /* margin: 0.8rem auto; */
  padding: 0.48rem  0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#main .story .story-content .swiper .swiper-container .swiper-slide {
  background: #f6f6f6 !important;
  text-align: center;
  font-size: 0.18rem;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

#main .story .story-content .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: space-evenly;
}

#main .story .story-content .swiper>div {
  width: 100%;
}

#main .story .story-content .slide-item {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 4 - 0.4rem);
  margin-right: 0.5rem;
  /* width: 3.2rem;
  height: 3.98rem; */
  background: #fff;
  /* border-radius: 0.08rem; */
  overflow: hidden;
  transition: all .3s ease-in-out;
  padding: 1rem 0 1rem 0;
  border-radius: 0.1rem;
}

#main .story .story-content .slide-item:last-child {
  margin-right: 0;
}

#main .story .story-content .slide-item:hover {
  cursor: pointer;
  border-radius: 0.08rem;
}

#main .story .story-content .slide-item .item-box {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#main .story .story-content .slide-item .item-box .item-img {
  margin: 0 auto;
  width: 1.8rem;
  /* height: 1.68rem; */
  /* width: 2.3rem;
  height: 1.9rem; */
  transition: all 0.3s ease-in-out;
  transform: translate3d();
}

#main .story .story-content .swiper .slide-item .item-box .item-img img {
  width: 100%;
  height: 100%;
}

#main .story .story-content .swiper .slide-item .item-box .opacity-box {
  width: 0.1rem;
  height: 1.7rem;
  background: red;
}

/* #main .story .story-content .swiper .swiper-container .swiper-slide .slide-item .item-box .item-text { */
#main .story .story-content .swiper .slide-item .item-text {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  padding: 0.2rem 0.18rem 0.16rem;
  width: 100%;
  height: 1.7rem;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
}

#main .story .story-content .swiper-slide .slide-item .item-text .text-heading {
  color: #FFFFFF;
  font-size: 0.24rem;
  text-align: left;
  line-height: 0.33rem;
}

#main .story .story-content .swiper-slide .slide-item .item-text .text {
  color: #FFFFFF;
  font-size: 0.14rem;
  text-align: left;
  line-height: 0.24rem;
  font-weight: 400;
  margin-top: 0.1rem;
}

#main .story .story-content .swiper .swiper-container1 {
  position: relative;
  margin: 0.8rem 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#main .story .story-content .swiper .swiper-container1 .swiper-slide {
  background: #f6f6f6 !important;
  text-align: center;
  font-size: 0.18rem;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

#main .story .story-content .swiper .swiper-container1 .swiper-slide .slide-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.98rem;
  background: #fff;
  border-radius: 0.08rem;
  overflow: hidden;
  transition: all 5s ease-in-out;
}

#main .story .story-content .swiper .swiper-container1 .swiper-slide .slide-item:hover {
  cursor: pointer;
}

#main .story .story-content .swiper .swiper-container1 .swiper-slide .slide-item .item-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#main .story .story-content .swiper .swiper-container1 .swiper-slide .slide-item .item-box .item-img {
  margin: 0 auto;
  width: 2.3rem;
  height: 1.9rem;
  transition: all 0.3s ease-in-out;
  transform: translate3d();
}

#main .story .story-content .swiper .swiper-container1 .swiper-slide .slide-item .item-box .item-img img {
  width: 100%;
  height: 100%;
}

#main .story .story-content .swiper .swiper-container1 .swiper-slide .slide-item .item-box .opacity-box {
  width: 0.1rem;
  height: 1.7rem;
  background: red;
}

#main .story .story-content .swiper .swiper-container1 .swiper-slide .slide-item .item-box .item-text {
  position: absolute;
  display: none;
  bottom: 0;
  padding: 0.2rem 0.18rem 0.16rem;
  width: 100%;
  height: 1.7rem;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
}

#main .story .story-content .swiper .swiper-container1 .swiper-slide .slide-item .item-box .item-text .text-heading {
  color: #FFFFFF;
  font-size: 0.24rem;
  text-align: left;
  line-height: 0.33rem;
}

#main .story .story-content .swiper .swiper-container1 .swiper-slide .slide-item .item-box .item-text .text {
  color: #FFFFFF;
  font-size: 0.14rem;
  text-align: left;
  line-height: 0.26rem;
}

#main .story .story-content .swiper .swiper-container2 {
  position: relative;
  margin: 0.8rem 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#main .story .story-content .swiper .swiper-container2 .swiper-slide {
  background: #f6f6f6 !important;
  text-align: center;
  font-size: 0.18rem;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

#main .story .story-content .swiper .swiper-container2 .swiper-slide .slide-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.98rem;
  background: #fff;
  border-radius: 0.08rem;
  overflow: hidden;
  transition: all 5s ease-in-out;
}

#main .story .story-content .swiper .swiper-container2 .swiper-slide .slide-item:hover {
  cursor: pointer;
}

#main .story .story-content .swiper .swiper-container2 .swiper-slide .slide-item .item-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#main .story .story-content .swiper .swiper-container2 .swiper-slide .slide-item .item-box .item-img {
  margin: 0 auto;
  width: 2.3rem;
  height: 1.9rem;
  transition: all 0.3s ease-in-out;
  transform: translate3d();
}

#main .story .story-content .swiper .swiper-container2 .swiper-slide .slide-item .item-box .item-img img {
  width: 100%;
  height: 100%;
}

#main .story .story-content .swiper .swiper-container2 .swiper-slide .slide-item .item-box .opacity-box {
  width: 0.1rem;
  height: 1.7rem;
  background: red;
}

#main .story .story-content .swiper .swiper-container2 .swiper-slide .slide-item .item-box .item-text {
  position: absolute;
  display: none;
  bottom: 0;
  padding: 0.2rem 0.18rem 0.16rem;
  width: 100%;
  height: 1.7rem;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
}

#main .story .story-content .swiper .swiper-container2 .swiper-slide .slide-item .item-box .item-text .text-heading {
  color: #FFFFFF;
  font-size: 0.24rem;
  text-align: left;
  line-height: 0.33rem;
}

#main .story .story-content .swiper .swiper-container2 .swiper-slide .slide-item .item-box .item-text .text {
  color: #FFFFFF;
  font-size: 0.14rem;
  text-align: left;
  line-height: 0.26rem;
}

#main .story .story-content .swiper .swiper-container3 {
  position: relative;
  margin: 0.8rem 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#main .story .story-content .swiper .swiper-container3 .swiper-slide {
  background: #f6f6f6 !important;
  text-align: center;
  font-size: 0.18rem;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

#main .story .story-content .swiper .swiper-container3 .swiper-slide .slide-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.98rem;
  background: #fff;
  border-radius: 0.08rem;
  overflow: hidden;
  transition: all 5s ease-in-out;
}

#main .story .story-content .swiper .swiper-container3 .swiper-slide .slide-item:hover {
  cursor: pointer;
}

#main .story .story-content .swiper .swiper-container3 .swiper-slide .slide-item .item-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#main .story .story-content .swiper .swiper-container3 .swiper-slide .slide-item .item-box .item-img {
  margin: 0 auto;
  width: 2.3rem;
  height: 1.9rem;
  transition: all 0.3s ease-in-out;
  transform: translate3d();
}

#main .story .story-content .swiper .swiper-container3 .swiper-slide .slide-item .item-box .item-img img {
  width: 100%;
  height: 100%;
}

#main .story .story-content .swiper .swiper-container3 .swiper-slide .slide-item .item-box .opacity-box {
  width: 0.1rem;
  height: 1.7rem;
  background: red;
}

#main .story .story-content .swiper .swiper-container3 .swiper-slide .slide-item .item-box .item-text {
  position: absolute;
  display: none;
  bottom: 0;
  padding: 0.2rem 0.18rem 0.16rem;
  width: 100%;
  height: 1.7rem;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
}

#main .story .story-content .swiper .swiper-container3 .swiper-slide .slide-item .item-box .item-text .text-heading {
  color: #FFFFFF;
  font-size: 0.24rem;
  text-align: left;
  line-height: 0.33rem;
}

#main .story .story-content .swiper .swiper-container3 .swiper-slide .slide-item .item-box .item-text .text {
  color: #FFFFFF;
  font-size: 0.14rem;
  text-align: left;
  line-height: 0.26rem;
}

#main .story .story-content .my-button-disabled {
  /* display: none; */
}

#main .story .read-more-content {
  width: 14rem;
  text-align: center;
  margin: 0 auto;
}

#main .story .read-more {
  text-align: center;
  width: 2rem;
  height: 0.6rem;
  color: #FFFFFF;
  font-size: 0.18rem;
  line-height: 0.28rem;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
  border-radius: 0.1rem;
}

#main .story .swiper-button-prev {
  /* left:calc(-0.2rem + 4%); */
  left: 8%;
  /* left: 0rem; */
  /* top: calc(50% + 0.7rem); */
  width: 0.36rem;
  height: 0.36rem;
  /* background-color: rgba(118, 118, 118, .5); */
  line-height: 0.6rem;
  text-align: center;
  border-radius: 50%;
  z-index: 30;
}

#main .story .swiper-button-prev:hover {
  /* background-color: rgba(188, 188, 188, .5); */
}

#main .story .swiper-button-next:hover {
  /* background-color: rgba(188, 188, 188, .5); */
}

#main .story .swiper-button-prev:after {
  font-size: 0.28rem;
  color: #fff;
  content: '';
}

#main .story .swiper-button-next:after {
  content: '';
}

#main .story .swiper-button-prev:focus {
  outline: none;
}

#main .story .swiper-button-next {
  right: calc(-0.2rem + 4%);
  right: 8%;
  /* right: 0rem; */
  /* top: calc(50% + 0.7rem); */
  width: 0.36rem;
  height: 0.36rem;
  /* background-color: rgba(118, 118, 118, .5); */
  line-height: 0.6rem;
  text-align: center;
  border-radius: 50%;
  z-index: 30;
  -o-transform-origin: center ;
  transform-origin: center ;
  transform: rotate(180deg)
}

#main .story .swiper-button-next:focus {
  outline: none;
}

#main .news {
  padding: 1.4rem 0 1.8rem;
  /* min-width: 14rem; */
  max-width: 14rem;
  margin: 0 auto;
}

#main .news .news-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 14rem;
}

#main .news .news-content .heading {
  color: #222222;
  font-size: 0.5rem;
  text-align: center;
  line-height: 0.7rem;
}

#main .news .news-content .list {
  margin-top: 0.4rem;
  display: flex;
}

#main .news .news-content .list .left-poster {
  margin-right: 0.4rem;
  position: relative;
  width: 8rem;
  height: 4.6rem;
}

#main .news .news-content .list .left-poster img {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0.1rem 0.02rem rgb(189 189 189);
  border-radius: 0.1rem;
}

#main .news .news-content .list .right-nav {
  padding: 0rem 0rem;
  display: flex;
  flex-direction: column;
  width: 5.6rem;
  height: 4.6rem;
  background: #FFFFFF;
  box-shadow: 0rem 0.02rem 0.13rem 0rem #F3F3F3;
  border-radius: 0.08rem;
}
#main .news .news-content .list .right-nav a:hover .nav-title{
  color: #0057FF;
}

#main .news .news-content .list .right-nav .nav-title {
  margin: 0 0.26rem;
  margin-top: 0.35rem;
  padding-bottom: 0.26rem;
  color: #222222;
  font-size: 0.2rem;
  line-height: 0.28rem;
  border-bottom: 0.02rem solid #ECECEC;
}

#main .news .news-content .list .right-nav .nav-title:hover {
  cursor: pointer;
}

#main .news .news-content .list .right-nav .nav-title h4 {
  max-width: 4.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#main .news .news-content .list .right-nav .nav-title .news-time {
  color: #999999;
  width: 0.7rem;
  font-size: 0.14rem;
  line-height: 0.2rem;
}

#main .news .news-content .list .right-nav .read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.04rem;
  color: #fff;
  font-size: 0.2rem;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
  border-radius: 0rem 0rem 0.08rem 0.08rem;
}

#main .news .news-content .list .right-nav .read-more .news-logo {
  margin-right: 0.2rem;
  width: 0.3rem;
  height: 0.27rem;
}

#main .news .news-content .list .right-nav .read-more .news-logo img {
  width: 100%;
  height: 100%;
}

/* */

/* 企业医用轮播图 */
.swiper-section{
  /* position: relative; */
  /* display: flex;
  justify-content: flex-end;
  align-items: flex-end; */
  width: 100%;
  height: 9.72rem;
  font-size: 0;
  overflow-x: hidden;
}
.swiper-section .swiper-bottom .swiper-slide-section{
  /* float: right; */
}
.swiper-item-section{
  position: absolute;
  bottom: 2.66rem;
  /* right: 0.2rem; */
  width: 1.86rem;
  height: 2.64rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  z-index: 3;
  transform-origin: center center;
  border-radius: 0.1rem;
  cursor: pointer;
}
.swiper-item-section img{
  width: 100%;
  height: 100%;
}
.swiper-item-section p{
  font-size: 0.2rem;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 0.1rem 0.3rem;
}
.swiper-item-section2{
  /* position: absolute; */
  /* bottom: 2.66rem;
  right: 0.2rem;
  width: 1.86rem;
  height: 2.64rem; */
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  /* z-index: 3; */
  transform-origin: center center;
  border-radius: 0.1rem;
  cursor: pointer;
}
.swiper-section .dot,
.swiper-section .arrow{
  position: relative;
  z-index: 5;
}
.business .swiper-item-section2  .left-content{
  /* display: none; */
}
.business .swiper-item-section2 {
  /* display: none; */
}
.business .swiper-slide-next{
  position: relative;
  z-index: 1009;
  /* display: block; */
}
.business .swiper-slide-active{
  position: relative;
  z-index: 1009;
  display: block;
}
.business .swiper-slide-active .left-content{
  display: block;
}
.business .arrow {
  position: absolute;
  right: 0.5rem;
  bottom: 1rem;
  z-index: 4;
  width: 2.65rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.business .arrow .story_arrow{
  z-index: 5;
  font-size: 0.14rem;
  cursor: pointer;
  /* background-color: rgba(88,88,88,.6); */
  width: 0.3rem;
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  /* margin-left: 0.3rem; */
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  border: 0.01rem solid #fff;
}
.business .arrow .arrow-right{
  /* margin-right: 1rem; */
}
.business .arrow .story_arrow:hover{
  background-color: rgba(222,222,222,.8);
}
.business .arrow .arrow-right:after{
  font-family: swiper-icons;
  content: 'next';
}
.business .arrow .arrow-left:after{
  font-family: swiper-icons;
  content: 'prev';
}
.swiper-section .dot span{
  cursor: pointer;
  position: inherit;
  z-index: 5;
  font-size: 0.14rem;
  padding: 0 0.1rem
}
.swiper-section .big {
  width: 100% !important;
  height: 9.72rem !important;
  bottom: 0 !important;
  /* position: absolute;
  top: 0;
  left: 0; */
  right: 0 !important;
  z-index: 1;
  transition: all .5s ease-in;
  float: left;
  border-radius: 0 !important;
}
.swiper-section .tr {
  transition: all .3s ease-in-out;
  z-index: 3 !important;
}
.boxscale{
  transform: scale(1.3);
  transform-origin: center center;
  margin-right: 0.3rem;
  box-shadow: 0 0 0.1rem 0.02rem rgba(109,109,109,.43);
}
/* .swiper-item-section{
  transform: scale(1);
}
.swiper-item-section:nth-child(2) {
  transform-origin: center center;
  transform: scale(1.2);
  margin-right: 0.32rem;
  transition: all .3s ease-in-out;
} */

.business{
  position:relative;
}
.business .title{
  position: absolute;
  top: 0.97rem;
  height: 0.7rem;
  font-size: 0.5rem;
  font-family: PingFangSC-Medium, PingFang SC;
  color: #FFFFFF;
  line-height: 0.7rem;
  z-index: 5;
  width: 100%;
  text-align: center;
}
.business .left-content{
  position: absolute;
  top: 4.32rem;
  left: 2.6rem;
  z-index: 5;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  transform-origin: center center;
}
.business .left-content .subtitle{
  font-size: 0.36rem;
  font-family: PingFangSC-Medium, PingFang SC;
  color: #FFFFFF;
  line-height: 0.5rem;
  padding-bottom: 0.3rem;
}
.business .left-content .desc{
  width: 6.88rem;
  font-size: 0.26rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 0.44rem;
  padding-bottom: 0.6rem;
  font-size: 0.24rem;
  /* font-weight: 200; */
}
.business .left-content .swiper-btn .detail{
  display: inline-block;
  width: 1.8rem;
  border-radius: 0.1rem;
  border: 0.01rem solid #FFFFFF;
  font-size: 0.18rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 0.28rem;
  padding: 0.15rem 0;
  text-align: center;
  box-sizing: border-box;
  margin-right: 0.3rem;
}
.business .left-content .swiper-btn .try{
  display: inline-block;
  width: 1.8rem;
  font-size: 0.18rem;
  border-radius: 0.1rem;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 0.28rem;
  padding: 0.16rem 0;
  text-align: center;
}

@media screen and (max-width:15rem) {
  /* #main .story .swiper-button-next {
    right: 0.4rem !important;
  }

  #main .story .swiper-button-prev {
    left: 0.4rem !important;
  }

  #main .product .right-arrow {
    right: 0.4rem !important;
  }

  #main .product .left-arrow {
    left: 0.4rem !important;
  } */

  #header .header-top .menu .menu-nav #navigation li {
    margin-right: 0.25rem;
  }
}

.business .step-line{
  position: absolute;
  top: 2.75rem;
  left: 0;
  height: 0.01rem;
  background: #ffffff33;
  width: 100%;
  z-index: 99;
}
.business .step-line .step-line-wrap{
  position: relative;
  max-width: 14rem;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}
.business .step-line .step-line-dot{
  display: inline-flex;
  width: 0.18rem;
  height: 0.18rem;
  background: #adadad;
  border-radius: 50%;
  margin-right: 1.75rem;
  margin-top: -0.09rem;
  cursor: pointer;
  font-size: 0;
  justify-content: center;
  align-items: center;
  transform-origin: center center;
}
.business .step-line .big{
  background-color: #006DFF;
  font-size: 0.26rem;
  margin-top: -0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  color: #fff;
  transform-origin: center center;
  transition: background-color .3s ease-in-out;
  /* transition: height .3s ease-in-out;
  transition: width .3s ease-in-out; */
}
.business .step-line .step-line-dot:last-child{
  margin-right: 0;
}
@media screen and (max-width: 14rem) {
  #footer .footer-bottom{
    padding: 0;
  }
}
@media screen and (max-width: 12.02rem) {
  .business .left-content{
    left: 1rem;
  }
  .business .left-content .desc{
    width: 5.5rem;
  }
  .footer-bottom{
    margin-top: -0.01rem;
  }
}