body{
  background-position: center center;
  background-size: cover;
}
#menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 102px;
  /* top: 335px; */
  top: 50%;
  margin-top: -192px;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}
#menu li {  
  margin-bottom: 62px;
}
#menu li:last-child {
  margin-bottom: 0;
}
#menu li a {
  color: #FFFFFF !important;
  font-size: 18px !important;
  /* font-weight: 500; */
}
#menu .active {
  position: relative;
}
#menu .active a {
  color: #00B4FF !important;
}
#menu .active::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -45px;
  margin: auto;
  content: '';
  width: 25px;
  height: 25px;
  background: url("../assets/选择.png") 100% no-repeat;
  background-size: 100%;
}
#menu2 {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 100px;
  top: 415px;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}
#menu2 li {
  margin-bottom: 62px;
}
#menu2 li:last-child {
  margin-bottom: 0;
}
#menu2 li a {
  color: #FFFFFF !important;
  font-size: 24px !important;
  /* font-weight: 500; */
}
#menu2 .active {
  position: relative;
}
#menu2 .active a {
  color: #00B4FF !important;
}
#menu2 .active::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -45px;
  margin: auto;
  content: '';
  width: 25px;
  height: 25px;
  background: url("../assets/选择.png") 100% no-repeat;
  background-size: 100%;
}
@media screen and (max-width: 1400px) {
  #menu {
    position: fixed;
    /* right: 35px; */
    /* top: 335px; */
    transition: all 0.3s ease-in-out;
  }
}
.fullpage .section1 {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  /* 第一屏 */
}
.fullpage .section1 video {
  z-index: 99;
  width: 100%;
  height: 100%;

  /* position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 1s opacity;
  transition: 1s opacity; */
  /* min-width:100%; min-height:100%;
  width: auto;
  height: auto; */
}
.fullpage .section1 .left-logo {
  position: absolute;
  top: 85px;
  left: 100px;
  width: 320px;
  z-index: 99;
  /* height: 32px; */
}
.fullpage .section1 .left-logo img {
  width: 100%;
  height: 100%;
}
.fullpage .section1 #page-one {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 50%;
  /* top: 34.5%; */
  /* left: 0; */
  right: 278px;
  margin: 0 auto;
  max-width: 1400px;
  z-index: 999;
  /* top: 50%; */
  /* margin-top: -190px; */
}
.fullpage .section1 #page-one .out-line {
  margin-right: 25px;
  width: 745px;  
}
.fullpage .section1 #page-one .out-line .title-img .heading-img {
  margin-bottom: 30px;
  /* width: 715px; */
  width: 756px;
  /* height: 120px; */
}
.fullpage .section1 #page-one .out-line .title-img .heading-img img {
  width: 100%;
  height: 100%;
}
.fullpage .section1 #page-one .out-line .title-img .middle-img {
  width: 756px;
  /* width: 750px; */
  padding-top: 8px;
  /* height: 40px; */
}
.fullpage .section1 #page-one .out-line .title-img .middle-img img {
  width: 100%;
  height: 100%;
}
.fullpage .section1 #page-one .out-line .title-img .bottom-img {
  margin-top: 55px;
  display: flex;
}
.fullpage .section1 #page-one .out-line .title-img .bottom-img .bottom-left {
  width: 190px;
  height: 150px;
}
.fullpage .section1 #page-one .out-line .title-img .bottom-img .bottom-left img {
  width: 100%;
  /* height: 100%; */
}
.fullpage .section1 #page-one .out-line .title-img .bottom-right {
  margin-top: 50px;
  margin-left: 80px;
}
.fullpage .section1 #page-one .out-line .title-img .bottom-right .top {
  padding-top: 20px;
  /* margin-bottom: 30px; */
  width: 140px;
  /* height: 30px; */
}
.fullpage .section1 #page-one .out-line .title-img .bottom-right .top img {
  width: 100%;
  /* height: 100%; */
}
.fullpage .section1 #page-one .out-line .title-img .bottom-right .bottom {
  /* width: 185px; */
  width: 100px;
  padding-top: 20px;
  /* height: 26px; */
}
.fullpage .section1 #page-one .out-line .title-img .bottom-right .bottom img {
  width: 100%;
  /* height: 100%; */
}
.fullpage .section1 #page-one .out-line .button {
  /* margin-top: 65px; */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 80px;
  background: linear-gradient(180deg, #0057FF 0%, #00B4FF 100%);
  border-radius: 6px;
  cursor: pointer;
  /*  */
  position: fixed;
  top: 65%;
  left: 46%;
}
.fullpage .section1 #page-one .out-line .button .play-icon {
  margin-right: 10px;
  width: 26px;
  height: 26px;
}
.fullpage .section1 #page-one .out-line .button .play-icon img {
  width: 100%;
  height: 100%;
}
.fullpage .section1 #page-one .out-line .button .button-text {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
}
.fullpage .section2 {
  /* padding-top: 80px; */
  padding-top: 5.2%;
  display: flex;
  /* 第二屏 */
  /* background: url("../assets/bg\ \(1\).png") 100%;
   */
   /* background: url("../assets/bg\ \(1\).png"); */
   background-position: center center;
   background-size: cover;
}
.fullpage .section2 #page-two {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
}
.fullpage .section2 #page-two .left-logo {
  width: 381px;
  /* height: 118px; */
}
.fullpage .section2 #page-two .left-logo img {
  width: 100%;
  /* height: 100%; */
}
.fullpage .section2 #page-two .heading {
  margin-top: 74px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.fullpage .section2 #page-two .heading .heading-title {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 2px;
}
.fullpage .section2 #page-two .heading .play-icon {
  margin-left: 10px;
  width: 26px;
  height: 26px;
}
.fullpage .section2 #page-two .heading .play-icon:hover {
  cursor: pointer;
}
.fullpage .section2 #page-two .heading .play-icon img {
  width: 100%;
  height: 100%;
}
.fullpage .section2 #page-two .video {
  margin-top: 14px;
  margin-left: 50px;
}
.fullpage .section3 {
  /* padding-top: 80px; */
  padding-top: 12.38%;
  display: flex;
  /* background: url("../assets/bg\ \(1\).png"); */
  background-position: center center;
  background-size: cover;
}
.fullpage .section3 #page-three {
  position: relative;
  margin: 0 auto;
  margin-left: 11.25%;
  /* max-width: 1400px; */
  /* max-width: 1500px; */
}
.fullpage .section3 #page-three .left-logo {
  width: 441px;
  /* height: 118px; */
}
.fullpage .section3 #page-three .left-logo img {
  width: 100%;
  height: 100%;
}
.fullpage .section3 #page-three .text {
  margin-top: 80px;
  margin-left: 55px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 60px;
  /* letter-spacing: 2px; */
}
.fullpage .section4 {
  padding-top: 3.631%;
  display: flex;
  /* background: url("../assets/bg\ \(1\).png"); */
  background-position: center center;
  background-size: cover;
}
.fullpage .section4 #page-four {
  position: relative;
  margin: 0 auto;
  /* max-width: 1500px; */
  /* max-width: 1400px; */
  margin-left: 11.25%;
}
.fullpage .section4 #page-four .left-logo {
  width: 441px;
  /* height: 118px; */
}
.fullpage .section4 #page-four .left-logo img {
  width: 100%;
  height: 100%;
}
.fullpage .section4 #page-four .guest {
  margin-top: 50px;
  /* display: flex; */
}
.section4 #page-four .guest{
  margin-left: 20px;
}
.section4 #page-four .guest .jiabing{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.section4 #page-four .guest .sec{
  margin-left: 23px;
}
.section4 #page-four .guest .jiabing .lb{
  margin-right: 236px;
}
.fullpage .section4 #page-four .guest .left .guest-img {
  width: 526px;
  /* height: 246px; */
  padding-left: 17px;
}
.fullpage .section4 #page-four .guest .left .guest-img img {
  width: 100%;
}
.bottomPlace{
  height: 15px;
  width: 100%;
  background-color: transparent;
}
/* .fullpage .section4 #page-four .guest .rb2 {
  padding-bottom: 5px;
} */
.fullpage .section4 #page-four .guest .left .lb {
  margin-top: 75px;
  margin-left: 20px;
  width: 503px;
  padding-left: 37px;
}
.fullpage .section4 #page-four .guest .left .lb img {
  width: 100%;
}
.fullpage .section4 #page-four .guest .right {
  /* margin-left: 236px; */
}
.fullpage .section4 #page-four .guest .right .guest-img {
  margin-top: -50px;
  width: 492px;
}
.fullpage .section4 #page-four .guest .right .guest-img img {
  width: 100%;
}
.fullpage .section4 #page-four .guest .right .rb {
  margin-top: 40px;
  width: 492px;
}
.fullpage .section4 #page-four .guest .right .rb img {
  width: 100%;
}
.fullpage .section5 {
  padding-top: 6.25%;
  display: flex;
  /* background: url("../assets/bg\ \(1\).png"); */
  background-position: center center;
  background-size: cover;
}
.fullpage .section5 #page-five {
  position: relative;
  margin: 0 auto;
  /* max-width: 1500px; */
  /* max-width: 1522px; */
  /* max-width: 1400px; */
  margin-left: 11.25%;
}
.fullpage .section5 #page-five .left-logo {
  width: 780px;
  /* height: 142px; */
}
.fullpage .section5 #page-five .left-logo img {
  width: 100%;
  height: 100%;
}
.fullpage .section5 #page-five .border {
  margin-top: 80px;
  margin-left: 63px;
  padding: 45px 0 45px 47px;
  box-sizing: border-box;
}
.section5 .activeblock{
  padding: 45px 0 45px 47px;
  width: 610px;
  height: 200px;
  border: 2px solid;
  border-image: linear-gradient(90deg, #2f40ff, #02cdf7) 2 2;
  padding-left: 0;
  box-sizing: border-box;
  font-size: 30px;
}
.section5 .activeblock .title{
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  padding-bottom: 30px;
}
.section5 .activeblock .subtitle{
  font-size: 20px;
  color: #fff;
  display: block !important;
}
.fullpage .section5 #page-five .border .heading {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.fullpage .section5 #page-five .border .title {
  margin-top: 40px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.fullpage .section5 #page-five .border .subtitle {
  margin-top: 10px;
  color: #999999;
  font-size: 20px;
  font-weight: 400;
  font-family: PingFangSC-Regular, PingFang SC;
  line-height: 28px;
}
.fullpage .section5 #page-five .list {
  margin-left: 63px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.fullpage .section5 #page-five .list li {
  margin-top: 60px;
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  padding-left: 47px;
  font-size: 24px;
  cursor: pointer;
}
.fullpage .section5 #page-five .list li .subtitle{
  display: none;
}
.fullpage .section6 {
  padding-top: 4.815%;
  display: flex;
  /* background: url("../assets/bg\ \(1\).png"); */
  background-position: center center;
  background-size: cover;
}
.fullpage .section6 #page-six {
  position: relative;
  margin: 0 auto;
  margin-left: 11.25%;
  /* max-width: 1400px; */
  /* max-width: 1500px; */
}
.fullpage .section6 #page-six .left-logo {
  width: 441px;
  height: 118px;
}
.fullpage .section6 #page-six .left-logo img {
  width: 100%;
  height: 100%;
}
.fullpage .section6 #page-six .heading {
  font-size: 30px;
  background: linear-gradient(to right, #3d51d0, #55c0e9);
  -webkit-background-clip: text;
  color: transparent;
}
.fullpage .section6 #page-six .partner img {
  width: 100%;
  /* height: 100%; */
}
.fullpage .section6 #page-six .top {
  width: 1135px;
  padding-top: 35px;
  margin-left: 119px;
  cursor: pointer;
  /* height: 180px; */
}
.fullpage .section6 #page-six .middle {
  padding-top: 40px;
  width: 1179px;
  margin-left: 119px;
  cursor: pointer;
  /* height: 260px; */
}
.fullpage .section6 #page-six .bottom {
  margin-top: 40px;
  width: 837px;
  margin-left: 119px;
  cursor: pointer;
  /* height: 202px; */
}
.activity_qrcode{
  position: fixed;
  bottom: 0;
  right: 50px;
  z-index: 22;
  display: none;
}
.qrcode_tips{
  color: #fff;
  font-size: 14px;
}
.modal-box{
  background: none !important;
  text-align: center;
  padding-top: 0 !important;
}
.modal-wrap .modal-close{
  width: 360px !important;
}
.modal-wrap .title{
  font-size: 24px !important;
  text-align: center !important;
  padding-bottom: 5px;
}
.modal-wrap .subtitle{
  font-size: 14px !important;
  text-align: center !important;
  padding-bottom: 10px;
}
.modal-wrap .modal-box img{
  width: 75%;
}
@media screen and (max-width:1500px) {
  .fullpage .section1 .left-logo{
    left: 100px;
    padding-top: 0;
  }
  .fullpage .section1 #page-one {
    /* left: 0; */
    right: 18%;
    /* margin-top: -207px; */
  }
  .fullpage .section2 #page-two {
    /* margin-left: 5px; */
  }
  .fullpage .section4 #page-four {
    max-width: auto;
    /* margin-left: 5px; */
  }
  .fullpage .section6 #page-six {
    max-width: auto;
    /* margin-left: 5px; */
  }
  .fullpage .section6 #page-six .top {
    margin-left: 119px;
  }
  .fullpage .section6 #page-six .middle {
    margin-left: 119px;
  }
  .fullpage .section6 #page-six .bottom {
    margin-left: 119px;
  }
  .fullpage .section6,
  .fullpage .section2,
  .fullpage .section4,
  .fullpage .section5 {
    padding-top: 0;
  }
  .fullpage .section3{
    padding-top: 40px;
  }
}
@media screen and (max-width: 1400px) {
  /* #menu {
    top: 270px;
  } */
  #menu li{
    margin-bottom: 40px;
  }
  #menu .active::before{
    right: -30px;
  }
  .fullpage .section5,
  .fullpage .section4,
  .fullpage .section2,
  .fullpage .section6{
    padding-top: 0;
  }
  .left-logo{
    /* top: -50px !important; */
  }
  /* .fullpage .section5 #page-five .border{
    margin-top: 50px;
  }
  .fullpage .section5 #page-five .list li{
    margin-top: 40px;
  } */
  /* .fullpage .section1 #page-one .out-line .button{
    margin-top: 20px;
  } */
  /* .fullpage .section5,
  .fullpage .section6{
    padding-top: 52px;
  }
  .fullpage .section5 #page-five .border{
    margin-top: 50px;
  }
  .fullpage .section5 #page-five .list li{
    margin-top: 40px;
  } */
  .section4 #page-four .guest{
    margin-left: 0;
  }
}

@media screen and (max-width: 1280px) {
  .fullpage .section1 #page-one{
    right: 22%;
  }
  /* .fullpage .section5,
  .fullpage .section6{
    padding-top: 52px;
  }
  .fullpage .section5 #page-five .border{
    margin-top: 50px;
  }
  .fullpage .section5 #page-five .list li{
    margin-top: 40px;
  } */
}

@media screen and (max-height: 900px) {
  /* .fullpage .section5 #page-five .list li{
    margin-top: 45px;
  }
  .fullpage .section6 #page-six .top{
    padding-top: 30px;
  }
  .fullpage .section6 #page-six .bottom{
    margin-top: 20px;
  } */
}
@media screen and (max-height: 900px) and (max-width: 1440px) {
  /* .fullpage .section5 #page-five .border{
    margin-top: 60px;
  }
  .fullpage .section5 #page-five .list li{
    margin-top: 35px;
  }
  .fullpage .section6 #page-six .top{
    padding-top: 20px;
  }
  .fullpage .section6 #page-six .bottom{
    margin-top: 20px;
  } */
}
@media screen and (min-width: 2000px) {
  .fullpage .section2 #page-two,
  .fullpage .section3 #page-three,
  .fullpage .section4 #page-four,
  .fullpage .section5 #page-five,
  .fullpage .section6 #page-six
  {
    margin-left: 20%;
  }
  .fullpage .section6{
    padding-top: 8%;
  }
  /* .fullpage .section5 #page-five .border{
    margin-top: 60px;
  }
  .fullpage .section5 #page-five .list li{
    margin-top: 35px;
  }
  .fullpage .section6 #page-six .top{
    padding-top: 20px;
  }
  .fullpage .section6 #page-six .bottom{
    margin-top: 20px;
  } */
}

@media screen and (max-height: 800px) {
  .fullpage .section5,
  .fullpage .section4,
  .fullpage .section2,
  .fullpage .section6{
    padding-top: 0;
  }
  .fullpage .section3{
    padding-top: 12.38%;
  }
}

@media screen and (max-height: 800px)  and (max-width: 1280px){
  .fullpage .section5,
  .fullpage .section4,
  .fullpage .section2,
  .fullpage .section6{
    /* margin-top: -45px; */
  }
}