#menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 100px;
    top: 335px;
    transition: all .3s ease-in-out;
    z-index: 999;

    li {
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: #FFFFFF !important;
            font-size: 24px !important;
            font-weight: 500;
        }
    }

    .active {
        position: relative;

        a {
            color: #00B4FF !important;
        }

        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            right: -30px;
            margin: auto;
            content: '';
            width: 18px;
            height: 18px;
            background: url("../assets/选择.png") 100% no-repeat;
            background-size: 100%;
        }
    }
}

@media screen and (max-width: 1400px) {
    #menu {
        position: fixed;
        right: 35px;
        top: 335px;
        transition: all .3s ease-in-out;
    }
}

#fullpage {

    .section1 {
        position: relative;
        display: flex;

        /* 第一屏 */
        video {
            z-index: -1;
        }

        .left-logo {
            position: absolute;
            top: 80px;
            left: 100px;
            width: 207px;
            height: 32px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        #page-one {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            top: 335px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 1400px;
            z-index: 999;



            .out-line {
                margin-right: 88px;
                width: 788px;


                .title-img {
                    .heading-img {
                        margin-bottom: 40px;
                        width: 760px;
                        height: 120px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .middle-img {
                        width: 720px;
                        height: 40px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .bottom-img {
                        margin-top: 40px;
                        display: flex;


                        .bottom-left {
                            width: 190px;
                            height: 150px;

                            img {
                                width: 100%;
                                height: 100%;
                            }

                        }
                    }

                    .bottom-right {
                        margin-top: 45px;
                        margin-left: 80px;

                        .top {
                            margin-bottom: 45px;
                            width: 140px;
                            height: 30px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .bottom {
                            width: 185px;
                            height: 26px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }

                .button {
                    margin-top: 78px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 240px;
                    height: 80px;
                    background: linear-gradient(180deg, #0057FF 0%, #00B4FF 100%);
                    border-radius: 6px;

                    .play-icon {
                        margin-right: 10px;
                        width: 26px;
                        height: 26px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .button-text {
                        color: #FFFFFF;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 33px;
                    }

                }
            }

        }


    }

    .section2 {
        padding-top: 80px;
        display: flex;
        /* 第二屏 */
        background: url("../assets/bg\ \(1\).png") 100%;

        #page-two {
            position: relative;
            margin: 0 auto;
            width: 1400px;

            .left-logo {
                width: 446px;
                height: 118px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .heading {
                margin-top: 74px;
                margin-left: 50px;
                display: flex;
                align-items: center;

                .heading-title {
                    color: #FFFFFF;
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 45px;
                    letter-spacing: 2px;
                }

                .play-icon {
                    margin-left: 10px;
                    width: 26px;
                    height: 26px;

                    &:hover {
                        cursor: pointer;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }

                }
            }

            .video {
                margin-top: 14px;
                margin-left: 50px;

            }
        }
    }

    .section3 {
        padding-top: 80px;
        display: flex;
        background: url("../assets/bg\ \(1\).png") 100%;

        #page-three {
            position: relative;
            margin: 0 auto;
            width: 1400px;

            .left-logo {
                width: 446px;
                height: 118px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .text {
                margin-top: 80px;
                margin-left: 55px;
                color: #FFFFFF;
                font-size: 24px;
                font-weight: 400;
                line-height: 60px;
                letter-spacing: 2px;
            }
        }
    }

    .section4 {
        padding-top: 80px;
        display: flex;
        background: url("../assets/bg\ \(1\).png") 100%;

        #page-four {
            position: relative;
            margin: 0 auto;
            width: 1400px;

            .left-logo {
                width: 446px;
                height: 118px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .guest {
                margin-top: 40px;
                display: flex;

                .left {
                    .guest-img {
                        width: 526px;
                        height: 246px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .lb {
                        margin-top: 118px;
                        margin-left: 20px;
                        width: 503px;
                        height: 253px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .right {
                    margin-left: 236px;

                    .guest-img {
                        margin-top: -50px;
                        width: 492px;
                        height: 281px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .rb {
                        margin-top: 40px;
                        width: 492px;
                        height: 316px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .section5 {
        padding-top: 80px;
        display: flex;
        background: url("../assets/bg\ \(1\).png") 100%;

        #page-five {
            position: relative;
            margin: 0 auto;
            width: 1400px;

            .left-logo {
                width: 790px;
                height: 142px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .border {
                margin-top: 80px;
                margin-left: 80px;
                padding: 45px 0 45px 47px;
                width: 610px;
                height: 236px;
                border: 2px solid;
                border-image: linear-gradient(90deg, rgba(47, 64, 255, 1), rgba(2, 205, 247, 1)) 2 2;

                .heading {
                    color: #FFFFFF;
                    font-size: 28px;
                    font-weight: 500;
                    line-height: 40px;
                }

                .title {
                    margin-top: 40px;
                    color: #FFFFFF;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 28px;
                }

                .subtitle {
                    margin-top: 10px;
                    color: #999999;
                    font-size: 20px;
                    font-weight: 400;
                    font-family: PingFangSC-Regular, PingFang SC;
                    line-height: 28px;
                }
            }

            .list {
                margin-left: 80px;
                display: flex;
                flex-direction: column;
                color: #fff;

                li {
                    margin-top: 60px;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 33px;
                }
            }
        }
    }

    .section6 {
        padding-top: 80px;
        display: flex;
        background: url("../assets/bg\ \(1\).png") 100%;

        #page-six {
            position: relative;
            margin: 0 auto;
            width: 1400px;
            // border: 1px solid red;

            .left-logo {
                width: 441px;
                height: 118px;

                img {
                    width: 100%;
                    height: 100%;
                }


            }

            .heading {
                font-size: 30px;
                background: linear-gradient(to right, #3d51d0, #55c0e9);
                -webkit-background-clip: text;
                color: transparent;
            }

            .partner {
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .top {
                width: 1275px;
                height: 180px;
            }

            .middle {
                width: 1284px;
                height: 260px;
            }

            .bottom {
                margin-top: 60px;
                width: 893px;
                height: 202px;
            }
        }
    }
}