/*清除元素默认的内外边距  */
* {
  margin: 0;
  padding: 0;
  /* transition: all 0.2s ease-in-out; */
  box-sizing: border-box;
  font-family: "PingFang SC", "Calibri", "opensans", "GothicArial", "Arial", "Microsoft YaHei", "San Francisco", 'Hiragino Sans GB', "Helvetica Neue", Helvetica, sans-serif !important;
}


/*让所有斜体 不倾斜*/
em,
i {
  font-style: normal;
}

/*去掉列表前面的小点*/
li {
  list-style: none;
}

/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
  border: 0;
  /*ie6*/
  vertical-align: middle;
}

/*让button 按钮 变成小手*/
button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

/*取消链接的下划线*/
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  /* color: #e33333; */
  text-decoration: none;
}

button,
input {
  font-family: 'PingFangSC-Medium', 'PingFang SC', 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
  /* font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif; */
}

body {
  background-color: #fff;
  font: 0.12rem/1.5 'PingFangSC-Medium', 'PingFang SC', 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
  /* font: 0.12rem/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif; */
  color: #000
}

.hide,
.none {
  display: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/*清除浮动*/
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.clearfix {
  *zoom: 1
}

#footer .footer-top {
  width: 100%;
  height: 4.8rem;
  /* min-width: 14rem; */
  /* background: url("../assets/index_footer_one.jpeg") no-repeat; */
  background-repeat: no-repeat;
  background-color: blue;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
}
#footer .footer-top .footer-top-title{
  font-size: 0.4rem;
  color: #fff;
  padding-top: 0.8rem;
  font-weight: bold;
}
#footer .footer-top .footer-top-subtitle{
  font-size: 0.26rem;
  color: #fff;
  padding-top: 0.7rem;
  /* font-weight: bold; */
}
#footer .footer-top .footer-top-city{
  font-size: 0rem;
  color: #fff;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
#footer .footer-top .footer-top-city div{
  border-right: 0.01rem solid #fff;
  padding: 0 0.15rem;
  font-size: 0.18rem;
  height: 0.18rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* line-height: 0.14rem; */
}
#footer .footer-top .footer-top-city div:first-child{
  padding-left: 0;
}
#footer .footer-top .footer-top-city div:last-child{
  border: none;
}
#footer .footer-top .content{
  max-width: 14rem;
  margin:0 auto;
  box-sizing: border-box;
}
#footer .footer-top .content .location{
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
  border-radius: 0.1rem;
  color: #fff;
  font-size: 0.18rem;
  display: inline-flex;
  padding: 0.16rem 0.2rem;
  margin-top: 0.15rem;
}
#footer .footer-top .content .location img{
  width: 0.22rem;
  margin-right: 0.15rem;
}

#footer .footer-bottom {
  /* padding: 0.5rem 0; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 6.84rem;
  /* min-width: 14rem; */
  background: url("../assets/bg.png") no-repeat;
  background-size: cover;
  background-position: center center;
}

#footer .footer-bottom .content {
  margin: 0 auto;
  width: 14rem;
}

#footer .footer-bottom .content .fb-top {
  display: flex;
  justify-content: space-between;
  padding: 0.53rem 0;
  border-top: 0.01rem solid #111C62;
  border-bottom: 0.01rem solid #111C62;
}

#footer .footer-bottom .content .fb-top .content-item {
  display: flex;
  align-items: center;
}

#footer .footer-bottom .content .fb-top .content-item .item-title {
  margin-left: 0.15rem;
  color: #FFFFFF;
  font-size: 0.18rem;
  line-height: 0.28rem;
}

#footer .footer-bottom .content .fb-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

#footer .footer-bottom .content .fb-bottom .p-text {
  color: #FFFFFF;
  font-size: 0.18rem;
  line-height: 0.28rem;
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content {
  color: #fff;
  width: 100%;
  /* padding-right: 3.95rem; */
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content .content-logo {
  width: 2.34rem;
  height: 0.36rem;
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content .content-logo img {
  width: 100%;
  height: 100%;
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content .content-phone {
  margin-top: 0.58rem;
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content .content-phone .phone-btn {
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.55rem;
  height: 0.41rem;
  color: #FFFFFF;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
  border-radius: 0.04rem;
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content .content-phone .phone-btn .phone-img {
  margin-right: 0.1rem;
  width: 0.18rem;
  height: 0.18rem;
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content .content-phone .phone-btn .phone-img img {
  width: 100%;
  height: 100%;
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content .content-about {
  /* margin-top: 0.46rem; */
  margin-top: 0.5rem;
}
#footer .fb-bottom .left-bottom-content .content-about .weixin,
#footer .fb-bottom .left-bottom-content .content-about .weibo{
  cursor: pointer;
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content .content-about .about-logo {
  margin-top: 0.2rem;
  display: flex;
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content .content-about .about-logo .logo-img {
  margin-right: 0.08rem;
  width: 0.3rem;
  height: 0.3rem;
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content .content-about .about-logo .logo-img img {
  width: 100%;
  height: 100%;
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content .content-about .about-logo .logo-img:last-child {
  margin-right: 0;
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content .content-declare {
  margin-top: 0.21rem;
  /* margin-top: 0.45rem; */
  color: #EEEEEE;
  font-size: 0.14rem;
  font-weight: 400;
  line-height: 0.17rem;
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content .content-declare .dec-subtitle {
  margin-top: 0.1rem;
}

#footer .footer-bottom .content .fb-bottom .left-bottom-content .content-declare .dec-subtitle .privacy {
  color: #007AFF !important;
}

#footer .footer-bottom .content .fb-bottom .right-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  /* width: 7.8rem; */
}

#footer .footer-bottom .content .fb-bottom .right-content .block .b-heading {
  font-size: 0.18rem;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 0.48rem;
}

#footer .footer-bottom .content .fb-bottom .right-content .block .b-navgation li {
  margin-top: 0.2rem;
}

#footer .footer-bottom .content .fb-bottom .right-content .block .b-navgation li a {
  color: #EEEEEE;
  font-size: 0.14rem;
  font-weight: 400;
  line-height: 0.2rem;
}

#footer .footer-bottom .content .fb-bottom .right-content .block .quick-ways {
  margin-top: 0.5rem;
}

#footer .footer-bottom .content .fb-bottom .right-content .block .number-display .download {
  width: 0.83rem;
  height: 0.24rem;
  color: #FFFFFF;
  font-size: 0.14rem;
  font-weight: 400;
  line-height: 0.2rem;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
  border-radius: 0.12rem;
}

#footer .footer-bottom .content .fb-bottom .right-content .block .serveies {
  margin-top: 0.5rem;
  text-align: left;
}

#footer .web_qrcode{
  position: absolute;
  right: 0.6rem;
  width: 2rem;
  bottom: 1.2rem;
  display: none;
}
#footer .weixin_qrcode{
  position: absolute;
  right: 1rem;
  width: 2rem;
  bottom: 1.2rem;
  display: none;
}

.modal-wrap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1008;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgba(0,0,0,.7);
}
.modal-wrap .modal-box{
  width: 4rem;
  height: 3.2rem;
  border-radius: 0.1rem;
  padding: 0.2rem 0.3rem;
  /* background-color: #064DFF; */
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
}
.modal-wrap .modal-close{
  text-align: right;
  width: 4rem;
  padding: 0.2rem 0 0.1rem 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal-wrap .modal-box p{
  font-size: 0.16rem;
  color: #fff;
  text-align: left;
}
.modal-wrap .modal-close img{
  width: 0.36rem;
}
.modal-wrap .modal-box .modal-form-line{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2rem 0;
  font-size: 0.18rem;
  color: #fff;
  width: 100%;
  border-radius: 0.05rem;
  cursor: pointer;
}
.modal-wrap .modal-box .modal-btn-line{
  padding: 0.2rem 0 0rem 0;
}
.modal-wrap .modal-form-yinsi{
  font-size: 0.14rem;
  color: #fff;
  text-align: left;

}
.modal-box .modal-form-line .form-input{
  width: 100%;
  cursor: pointer;
}
.modal-wrap .modal-box .modal-form-line input{
  background: none;
  outline: none;
  border-radius: 0;
  border: none;
  background-color: #fff;
  padding: 0.1rem 0 0.1rem 0;
  font-size: 0.18rem;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.05rem;
  padding-left: 0.1rem;
  color: #000;
  cursor: pointer;
}
.modal-form-line .modal-btn{
  padding: 0.1rem 0.4rem;
  color: #fff;
  border-radius: 0.05rem;
  display: inline-block;
}
.modal-btn-line{
  display: flex;
  justify-content: space-around !important;
  width: 100%;
}
.modal-form-line .modal-sure{
  border: 0.01rem solid #50b1f9;
  box-sizing: border-box;
  background-color: #50b1f9;
  /* background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%); */
}
.modal-form-line .modal-cancle{
  background-color: transparent !important;
  border: 0.01rem solid #fff;
  box-sizing: border-box;
}

@media screen and (max-width: 14rem) {
  #footer .footer-bottom{
    padding: 0;
  }
}