﻿/*清除元素默认的内外边距  */
* {
  margin: 0;
  padding: 0;
  /* transition: all 0.2s ease-in-out; */
  box-sizing: border-box;
}

html {
  height: 100%;
  color: #000;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: '微软雅黑', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1';
}

body {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: '微软雅黑', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1';
}

.footer {
  position: absolute;
  bottom: 0;
}

.continer {
  /*自适应高度布局*/
  width: 100%;
  min-height: 100%;
  height: auto;
  _height: 100%;
  /*IE6不识别min-height*/
  position: relative;
  overflow-x: hidden;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

em,
strong {
  font-style: normal;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

q:before,
q:after {
  content: '';
}

/* 消除q前后的内容 */
button,
input,
select,
textarea {
  font-size: 100%;
}

/* 使得表单元素在 ie 下能继承字体大小 */
address,
cite,
dfn,
em,
var {
  font-style: normal;
}

/* 将斜体扶正 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  font-family: '微软雅黑', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1';
}

ol,
ul,
li,
dl,
dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* 重置 HTML5 元素 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
  {
  display: block;
  margin: 0;
  padding: 0;
}

mark {
  background: #ff0;
}

/* 清除浮动 */
html[xmlns] .clearfix {
  display: block;
}

.clearfix {
  display: block;
}

*html .clearfix {
  height: 1%;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix:before {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/*内容垂直居中 */
.mid_cont {
  display: table-cell;
  vertical-align: middle;
}

/*内容两端对齐 */
.justify {
  text-align: justify;
  text-justify: distribute-all-lines;
  text-align-last: justify;
}

/*方向 */
.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

/*媒体查询*/
/* @media (max-width: 2400px) {html{font-size: 90px;  }} */
/*@media (max-width: 1600px) {html{font-size: 90px;}}
@media (max-width: 1440px) {html{font-size: 90px;  }}
@media (max-width: 1220px) {html{font-size: 90px;  }}
@media (max-width: 1024px) {html{font-size: 90px;  }}*/
/* @media (max-width: 900px) {html{font-size: 90px;   }}
@media (max-width: 800px) {html{font-size: 80px;   }}
@media (max-width: 768px) {html{font-size: 76.5px; }}
@media (max-width: 700px) {html{font-size: 70px;   }}
@media (max-width: 685px) {html{font-size: 68.5px; }}
@media (max-width: 655px) {html{font-size: 65.5px; }}
@media (max-width: 625px) {html{font-size: 62.5px; }}
@media (max-width: 575px) {html{font-size: 57.5px; }}
@media (max-width: 515px) {html{font-size: 51.5px; }}
@media (max-width: 465px) {html{font-size: 46.5px; }}
@media (max-width: 414px) {html{font-size: 41.5px; }}
@media (max-width: 375px) {html{font-size: 37.5px; }}
@media (max-width: 320px) {html{font-size: 32px;   }} */


.footer {
  width: 100%;
  height: 340px;
  min-width: 1210px;
  background-image: url('../image/foot_bg.png');
  background-position: center top;
}