#header {
  position: relative;
  min-width: 1400px;
  width: 100vw;
}
#header .header-top {
  position: absolute;
  margin: 0 auto;
  display: flex;
  top: 60px;
  right: 0;
  left: 0;
  width: 1400px;
  min-width: 1400px;
  z-index: 999;
}
#header .header-top .logo {
  margin-right: 90px;
  width: 207px;
  height: 32px;
}
#header .header-top .logo img {
  width: 100%;
  height: 100%;
}
#header .header-top .menu {
  display: flex;
  align-items: center;
}
#header .header-top .menu .menu-nav #navigation {
  display: flex;
  align-items: center;
}
#header .header-top .menu .menu-nav #navigation li {
  margin-right: 40px;
}
#header .header-top .menu .menu-nav #navigation li:last-child {
  margin-right: 0;
}
#header .header-top .menu .menu-nav #navigation li a {
  color: #fff;
  font-size: 20px;
}
#header .header-top .contact-megs {
  display: flex;
}
#header .header-top .contact-megs .contact {
  margin-left: 72px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 260px;
  height: 60px;
  line-height: 60px;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
  border-radius: 10px;
}
#header .header-top .contact-megs .contact .contact-img {
  margin-left: 10px;
  display: inline-block;
  width: 24px;
  height: 25px;
}
#header .header-top .contact-megs .contact .contact-img img {
  width: 100%;
  height: 100%;
}
#header .header-top .contact-megs .phone {
  display: flex;
  margin-left: 20px;
  align-self: center;
  align-items: center;
}
#header .header-top .contact-megs .phone .phone-img {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}
#header .header-top .contact-megs .phone .phone-img img {
  width: 100%;
  height: 100%;
}
#header .header-top .contact-megs .phone .phone-number {
  font-size: 20px;
}
#header .header-middle {
  margin: auto;
  position: absolute;
  width: 650px;
  top: 40%;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 999;
}
#header .header-middle .title {
  font-size: 50px;
  line-height: 70px;
}
#header .header-middle .bottom {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header-middle .bottom .text {
  font-size: 26px;
  line-height: 37px;
}
#header .header-middle .bottom .button {
  margin-left: 20px;
  width: 180px;
  height: 60px;
  font-size: 20px;
  line-height: 28px;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
  border-radius: 10px;
}
#header .header-video {
  width: 100vw;
  height: 100vh;
  min-width: 1400px;
}
#header .header-video .video {
  width: 100%;
  height: 100%;
}
#main .top-tags {
  position: relative;
  top: -80px;
  z-index: 999;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
}
#main .top-tags .tag {
  padding: 42px 0 42px 40px;
  width: 260px;
  height: 200px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 0px rgba(225, 225, 225, 0.5);
  border-radius: 8px;
}
#main .top-tags .tag .tag-img {
  width: 50px;
  height: 46px;
}
#main .top-tags .tag .tag-img img {
  width: 100%;
  height: 100%;
}
#main .top-tags .tag .tag-text {
  color: #222;
}
#main .top-tags .tag .tag-text .title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
}
#main .top-tags .tag .tag-text .subtitle {
  font-size: 18px;
}
#main .product {
  margin-top: -20px;
  background: #f6f6f6;
}
#main .product .content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  text-align: center;
}
#main .product .content .pro .pro-title {
  margin-top: 100px;
  font-size: 50px;
  font-weight: 500;
  color: #222222;
  line-height: 70px;
}
#main .product .content .pro .pro-subtitle {
  color: #666666;
  font-size: 26px;
  font-weight: 400;
  line-height: 37px;
}
#main .product .content .card {
  margin-top: 100px;
  width: 100%;
  padding-bottom: 92px;
}
#main .product .content .card .card-top {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #D7D7D7;
}
#main .product .content .card .card-top .title {
  font-size: 20px;
  font-weight: 500;
  color: #999999;
  line-height: 28px;
}
#main .product .content .card .card-top .left {
  margin-right: 175px;
}
#main .product .content .card .card-middle {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#main .product .content .card .card-middle .left-box {
  margin-right: 26px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 600px;
  min-width: 600px;
  height: 528px;
  background-image: url("../assets/cardbanner.png");
}
#main .product .content .card .card-middle .left-box .left-card-logo {
  width: 203px;
  height: 46px;
}
#main .product .content .card .card-middle .left-box .left-card-logo img {
  width: 100%;
  height: 100%;
}
#main .product .content .card .card-middle .left-box .left-subtitle {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 33px;
}
#main .product .content .card .card-middle .right-box {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
#main .product .content .card .card-middle .right-box .block {
  margin-right: 26px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 250px;
  background: #FFFFFF;
  border-radius: 8px;
}
#main .product .content .card .card-middle .right-box .block:nth-child(3n) {
  margin-right: 0;
}
#main .product .content .card .card-middle .right-box .block:last-child {
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
}
#main .product .content .card .card-middle .right-box .block:last-child .img {
  width: 43px;
  height: 43px;
}
#main .product .content .card .card-middle .right-box .block:last-child .img img {
  width: 100%;
  height: 100%;
}
#main .product .content .card .card-middle .right-box .block .img {
  width: 48px;
  height: 48px;
}
#main .product .content .card .card-middle .right-box .block .img img {
  width: 100%;
  height: 100%;
}
#main .product .content .card .card-middle .right-box .block .img-title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #222222;
  line-height: 33px;
}
#main .product .content .card .card-middle .right-box .block .img-subtitle {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  line-height: 25px;
}
#main .business {
  padding-top: 97px;
  width: 100%;
  min-width: 1400px;
  height: 972px;
  background-image: url("../assets/能源banner.png");
}
#main .business .title {
  font-size: 50px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 70px;
  text-align: center;
}
#main .business .step-line {
  margin-top: 128px;
  width: 100%;
  height: 2px;
  border: 1px solid red;
}
#main .business .banner {
  margin-top: 136px;
  display: flex;
}
#main .business .banner .left {
  margin-left: 260px;
}
#main .business .banner .left .title {
  text-align: left;
  font-size: 36px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 50px;
}
#main .business .banner .left .subtitle {
  margin-top: 20px;
  font-size: 24px;
  color: #FFFFFF;
}
#main .business .banner .left .btn {
  margin-top: 50px;
  width: 180px;
  height: 60px;
  border-radius: 10px;
}
#main .business .banner .left .details {
  margin-right: 30px;
  border: 1px solid #FFFFFF;
  background: transparent;
}
#main .business .banner .left .free {
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
}
#main .business .banner .right {
  margin-left: 88px;
}
#main .story {
  padding: 100px 0 140px 0;
  background: #f6f6f6;
}
#main .story .story-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  text-align: center;
}
#main .story .story-content .heading {
  color: #222222;
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
}
#main .story .story-content .select-line {
  margin-top: 80px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 2px solid #E4E4E4;
}
#main .story .story-content .select-line .title {
  color: #999999;
  font-size: 20px;
  line-height: 28px;
}
#main .story .story-content .story-banner {
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#main .story .story-content .story-banner .banner-item {
  width: 320px;
  height: 398px;
  background: #fff;
  border-radius: 8px;
}
#main .story .story-content .read-more {
  width: 200px;
  height: 60px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 28px;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
  border-radius: 10px;
}
#main .news {
  padding: 100px 0 80px;
}
#main .news .news-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1400px;
}
#main .news .news-content .heading {
  color: #222222;
  font-size: 50px;
  text-align: center;
  line-height: 70px;
}
#main .news .news-content .list {
  margin-top: 40px;
  display: flex;
}
#main .news .news-content .list .left-poster {
  margin-right: 40px;
  width: 800px;
  height: 460px;
  background: blue;
}
#main .news .news-content .list .right-nav {
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  width: 560px;
  background: #FFFFFF;
  box-shadow: 0px 2px 13px 0px #F3F3F3;
  border-radius: 8px;
}
#main .news .news-content .list .right-nav .nav-title {
  margin: 0 20px;
  margin-top: 30px;
  padding-bottom: 26px;
  color: #222222;
  font-size: 20px;
  line-height: 28px;
  border-bottom: 2px solid #ECECEC;
}
#main .news .news-content .list .right-nav .nav-title .news-time {
  color: #999999;
  width: 70px;
  font-size: 14px;
  line-height: 20px;
}
#main .news .news-content .list .right-nav .read-more {
  width: 100%;
  height: 116px;
  background: linear-gradient(360deg, #064DFF 0%, #00B4FF 100%);
  border-radius: 0px 0px 8px 8px;
}
