/*清除元素默认的内外边距  */
* {
  margin: 0;
  padding: 0;
  /* transition: all 0.2s ease-in-out; */
  box-sizing: border-box;
}

/*让所有斜体 不倾斜*/
em,
i {
  font-style: normal;
}

/*去掉列表前面的小点*/
li {
  list-style: none;
}

/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
  border: 0;
  /*ie6*/
  vertical-align: middle;
}

/*让button 按钮 变成小手*/
button {
  cursor: pointer;
  border: none;
}

/*取消链接的下划线*/
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  /* color: #e33333; */
  text-decoration: none;
}

button,
input {
  /* font-family: 'PingFangSC-Medium', 'PingFang SC', 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif; */
  font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
}

body {
  background-color: #fff;
  /* font: 12px/1.5 'PingFangSC-Medium', 'PingFang SC', 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif; */
  font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
  color: #000
}

.hide,
.none {
  display: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/*清除浮动*/
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.clearfix {
  *zoom: 1
}